Report/SIFNAxSRE.xsd

<?xml version="1.0"?>
<!--version 3.03.01-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../SIFglobal.xsd"/>
	<xs:include schemaLocation="SIFNAxSreCommonTypes.xsd"/>
	<xs:include schemaLocation="../Composite/SIFNAxPress.xsd"/>
	<xs:complexType name="xSreType">
		<xs:annotation>
			<xs:appinfo>
				<elementName>xStudent Type</elementName>
				<events>yes</events>
				<isSIFObject>yes</isSIFObject>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>The Record Exchange object is a relatively de-normalized data structure meant to be used to transfer student information from one system to another. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xStudentType">
				<xs:sequence>
					<xs:element name="reportDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>The date that this xSre object was generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reportingLea" type="xLeaType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information about the LEA that generated this xSre object, or if the object was generated by a different entity, the LEA that provided the information to populate this record.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="assessments" minOccurs="0">
						<xs:annotation>
							<xs:documentation>List of assessments for this student, including testing information, content area, and various scores.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="assessment" type="xAssessmentType" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:appinfo>
											<elementName/>
											<sifChar>OR</sifChar>/>
											<cedsId/>
											<cedsURL/>
										</xs:appinfo>
										<xs:documentation/>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="attendance" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Attendance information for the student, including summaries and lists of attendance events.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="summaries" minOccurs="0">
									<xs:annotation>
										<xs:documentation>A list of attendance summaries for specific periods of time, with summary metrics about the student's attendnace during the time period.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="summary" type="xAttendanceSummaryType" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="events" minOccurs="0">
									<xs:annotation>
										<xs:documentation>A list of individual attendance events for the student, describing specific attendance or absence events.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="event" type="xAttendanceEventType" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="disciplineIncidents" minOccurs="0">
						<xs:annotation>
							<xs:documentation>List of all discipline incidents associated with this student.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="disciplineIncident" type="xDisciplineIncidentType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="transcriptTerm" type="xTranscriptTermType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Current term transcript information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherTranscriptTerms" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Past term transcript information.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="transcriptTerm" type="xTranscriptTermType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="competencies" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A set of competencies that represent the student's completion or partial completion of a unit, course, program, degree, certification, or other achievement/award.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="competency" type="xCompetencyType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="health" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Health-related information for the student, including immunizations and required tests.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="immunizations" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="immunization" type="xImmunizationType" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="screenings" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="screening" type="xScreeningType" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="programs" type="xProgramSummaryType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information about the student's participation in various state and federal programs.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xSre" type="xSreType"/>
</xs:schema>
