Entity/SIFNAindividualizedEducationPlan/plan/iepPlanAnnualGoalServicesListType.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- start redundant declaration  for SIF tool analysis -->
	<xs:include schemaLocation="../../../SIFglobal.xsd"/>
	<xs:include schemaLocation="../../../Composite/SIFNAxPressCommonTypes.xsd" />
	<xs:include schemaLocation="../../../Composite/SIFNAxPress.xsd" />
	<xs:include schemaLocation="../iepCommonTypes.xsd" />
	<!-- end redundant declaration for SIF tool analysis -->
	<xs:complexType name='iepPlanAnnualGoalServicesListServiceFrequencyCycleType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Service Cycle
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Amount of time during cycle that student receives service
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="count" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Service Cycle Count
						</elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
					</xs:appinfo>
					<xs:documentation>
						The number of service events in a service repetition period.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="period" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Service Cycle Period
						</elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
					</xs:appinfo>
					<xs:documentation>
						The period in which the service events must be repeated.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="day" />
						<xs:enumeration value="week" />
						<xs:enumeration value="month" />
						<xs:enumeration value="quarter" />
						<xs:enumeration value="term" />
						<xs:enumeration value="year" />
						<xs:enumeration value="school year" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalServicesListServiceFrequencyDurationType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Duration
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Amount of time during cycle that student receives service
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="directMinutes" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Direct Minutes
						</elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
					</xs:appinfo>
					<xs:documentation>
						Time spent directly with the student.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="indirectMinutes" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Indirect Minutes
						</elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
					</xs:appinfo>
					<xs:documentation>
						Service provider time spent on other service activities that are not with the student.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalServicesListServiceFrequencyType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Frequency
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Prescription for amount of service to be given.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element type='iepPlanAnnualGoalServicesListServiceFrequencyCycleType' name="cycle" minOccurs="0" maxOccurs="unbounded" />
			<xs:element type='iepPlanAnnualGoalServicesListServiceFrequencyDurationType' name="duration" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalServicesListServiceType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Service
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Support for student progress given by professional or para-professionals on a scheduled basis.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Service Type
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>000273</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000273</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						Type of related or ancillary services provided to a person or a group of persons within the formal educational system or offered by an outside agency which provides non-instructional services to support the general welfare of students. This includes physical and emotional health, the ability to select an appropriate course of study, admission to appropriate educational programs, and the ability to adjust to and remain in school through the completion of programs. In serving a student with an identified disability, related services include developmental, corrective, or supportive services required to ensure that the person benefits from special education.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="SpecialInstruction" />
						<xs:enumeration value="00290"/>
						<xs:enumeration value="00291"/>
						<xs:enumeration value="00292"/>
						<xs:enumeration value="00293"/>
						<xs:enumeration value="73050"/>
						<xs:enumeration value="73051"/>
						<xs:enumeration value="73052"/>
						<xs:enumeration value="73053"/>
						<xs:enumeration value="00878"/>
						<xs:enumeration value="00295"/>
						<xs:enumeration value="00881"/>
						<xs:enumeration value="00882"/>
						<xs:enumeration value="73048"/>
						<xs:enumeration value="00334"/>
						<xs:enumeration value="73047"/>
						<xs:enumeration value="00297"/>
						<xs:enumeration value="00298"/>
						<xs:enumeration value="73054"/>
						<xs:enumeration value="00299"/>
						<xs:enumeration value="00333"/>
						<xs:enumeration value="00303"/>
						<xs:enumeration value="00883"/>
						<xs:enumeration value="73049"/>
						<xs:enumeration value="00304"/>
						<xs:enumeration value="00332"/>
						<xs:enumeration value="00305"/>
						<xs:enumeration value="00884"/>
						<xs:enumeration value="00306"/>
						<xs:enumeration value="00300"/>
						<xs:enumeration value="00308"/>
						<xs:enumeration value="00335"/>
						<xs:enumeration value="00336"/>
						<xs:enumeration value="00309"/>
						<xs:enumeration value="00310"/>
						<xs:enumeration value="00311"/>
						<xs:enumeration value="00312"/>
						<xs:enumeration value="00313"/>
						<xs:enumeration value="00331"/>
						<xs:enumeration value="00314"/>
						<xs:enumeration value="00315"/>
						<xs:enumeration value="00318"/>
						<xs:enumeration value="00885"/>
						<xs:enumeration value="73046"/>
						<xs:enumeration value="00319"/>
						<xs:enumeration value="00302"/>
						<xs:enumeration value="00320"/>
						<xs:enumeration value="00294"/>
						<xs:enumeration value="00337"/>
						<xs:enumeration value="00321"/>
						<xs:enumeration value="00322"/>
						<xs:enumeration value="00323"/>
						<xs:enumeration value="00324"/>
						<xs:enumeration value="00886"/>
						<xs:enumeration value="00887"/>
						<xs:enumeration value="00325"/>
						<xs:enumeration value="00326"/>
						<xs:enumeration value="00327"/>
						<xs:enumeration value="00888"/>
						<xs:enumeration value="00329"/>
						<xs:enumeration value="00330"/>
						<xs:enumeration value="00889"/>
						<xs:enumeration value="09999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="settingIndicator" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Inclusive Setting Indicator
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>001634</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001634</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						Indicates that services are provided to the child in a place where children of all abilities learn together.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type='iepCommonServiceProviderType' name="serviceProvider" minOccurs="0" maxOccurs="unbounded" />
			<xs:element type='iepPlanAnnualGoalServicesListServiceFrequencyType' name="frequency" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="startDate" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Goal Start Date
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>001165</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001165</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						The date on which the goal becomes active.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Goal End Date
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>001166</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001166</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						The date on which the goal expires or has been achieved.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nonParticipationReason" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Reason for Declined Services
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>001488</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001488</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						The reason given for declining the recommended services.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extendsSchoolYear" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Service Extends Outside School Year
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>001717</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001717</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						Determination if this service continues outside school year.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- named type -->
	<xs:complexType name='iepPlanAnnualGoalServicesListType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Service List
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				List of supporting resources required for student to achieve a goal
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element type='iepPlanAnnualGoalServicesListServiceType' name="service" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>