Entity/SIFNAindividualizedEducationPlan/plan/iepPlanStandardizedAssessmentResultListType.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- start redundant declaration  for SIF tool analysis -->
		<xs:include schemaLocation="../../../SIFglobal.xsd"/>
		<xs:include schemaLocation="../../../Composite/SIFNAxPressCommonTypes.xsd" />
		<xs:include schemaLocation="../../../Composite/SIFNAxPress.xsd" />
		<xs:include schemaLocation="../iepCommonTypes.xsd" />
	<!-- end redundant declaration for SIF tool analysis -->


	<xs:complexType name='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultAccommodationListAccommodationAchievementStandardType'>


		<xs:annotation>
			<xs:appinfo>
				<elementName> Achievement Standard </elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
				<definitionRefId>7304a51d-46e0-49dd-93fb-a6497f2ea793</definitionRefId>
			</xs:appinfo>
			<xs:documentation> Special assessment evaluation method, procedure or standard </xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="type" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Type </elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
						<definitionRefId>f48fd527-cabd-4412-8474-bb7a43c5ddc4</definitionRefId>
					</xs:appinfo>
					<xs:documentation> Indicator if special standard is required </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="Regular" />
						<xs:enumeration value="Alternate" />
						<!-- is this list correct? tqii -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="name" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Name of Alternate Standard </elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
						<definitionRefId>4caef890-56f2-46b7-807a-9d3832a7414a</definitionRefId>
					</xs:appinfo>
					<xs:documentation> Name of alternative standard
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultAccommodationListAccommodationType'>

		<xs:annotation>
			<xs:appinfo>
				<elementName> accommodation </elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL>
					https://ceds.ed.gov/CEDSElementDetails.aspx?TermId=7376
				</cedsURL>
				<definitionRefId>2bff5526-0faa-44d4-b252-e036ed0eb3de</definitionRefId>
			</xs:appinfo>
			<xs:documentation> Changes to the environment or assessment procedure necessitated the student’s disability </xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="location" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Location </elementName>
						<sifChar>O</sifChar>

						<cedsId>000597</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000597</cedsURL>

						<definitionRefId>17211841-a2e3-4297-9b06-852e7215bd08</definitionRefId>
					</xs:appinfo>
					<xs:documentation> Special location where student undergoes assessment compatible with the student’s disability </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="GeneralLocation" />
						<xs:enumeration value="DistrictWideLocation" />
						<!-- is this list correct? tqii -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="category" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Category </elementName>
						<sifChar>O</sifChar>

						<cedsId>000383</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000383</cedsURL>

						<definitionRefId>daedb013-88fa-4d01-a5e1-aa36d4cfd9e0</definitionRefId>
					</xs:appinfo>
					<xs:documentation> A category of accommodations needed for a given assessment. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="SchedulingAccommodations" />
						<xs:enumeration value="SettingsAccommodations" />
						<xs:enumeration value="StudentEquipment/technology" />
						<xs:enumeration value="TestAdministrationAccommodation" />
						<xs:enumeration value="TestMaterialAccommodations" />
						<xs:enumeration value="TestResponseAccommodation" />
						<xs:enumeration value="EnglishLanguageLearnerAccommodation" />
						<xs:enumeration value="504Accommodation" />
						<xs:enumeration value="Other" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="type" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Type </elementName>
						<sifChar>O</sifChar>

						<cedsId>000385</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000385</cedsURL>

						<definitionRefId>d8f47b45-6499-44ee-ba77-7eb411c11944</definitionRefId>
					</xs:appinfo>
					<xs:documentation> The specific accommodation necessary for the administration of the assessment. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="AdditionalExampleItems/tasks" />
						<xs:enumeration value="AdjustableSwivelArm" />
						<xs:enumeration value="AdjustableTableHeight" />
						<xs:enumeration value="AdministrationInSeveralSessions" />
						<xs:enumeration value="AlternateRepresentation" />
						<xs:enumeration value="AnswerMasking" />
						<xs:enumeration value="AnswersWrittenDirectlyInTest" />
						<!-- is this the correct list? Do we need 'other'? tqii -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultAccommodationListAccommodationAchievementStandardType' name="achievementStandard" minOccurs="0" />
			<xs:element name="reason" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Reason </elementName>
						<sifChar>O</sifChar>

						<cedsId>001687</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001687</cedsURL>

						<definitionRefId>74c59dbb-448f-4184-b740-39cc06728b89</definitionRefId>
					</xs:appinfo>
					<xs:documentation> Why accommodation is needed
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultAccommodationListType'>

		<xs:annotation>
			<xs:appinfo>
				<elementName> accommodation List </elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
				<definitionRefId>d5b75ff3-41cf-425b-af9d-d3c78e945bd3</definitionRefId>
			</xs:appinfo>
			<xs:documentation> List of accommodations needed by student to complete assessments
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element type='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultAccommodationListAccommodationType' name="accommodation" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultStandardsReferenceType'>

		<xs:annotation>
			<xs:appinfo>
				<elementName> Standards Reference Info </elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
				<definitionRefId>e82bedb1-9efb-4c5f-a75c-9a182419f4a3</definitionRefId>
			</xs:appinfo>
			<xs:documentation> Documentation of the standard tool used for assessment </xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="assessmentTitle" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Assessment Title </elementName>
						<sifChar>O</sifChar>

						<cedsId>000028</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000028</cedsURL>

						<definitionRefId>c9ea03ef-a2c5-4517-8440-c5877af15ad6</definitionRefId>
					</xs:appinfo>
					<xs:documentation> The title or name of the assessment. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subject" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Subject </elementName>
						<sifChar>O</sifChar>

						<cedsId />
						<cedsURL />

						<definitionRefId>11805844-a4a1-41b3-a113-baf1a1e78e3f</definitionRefId>
					</xs:appinfo>
					<xs:documentation> The topic category evaluated by this assessment </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="Reading" />
						<xs:enumeration value="Math" />
						<xs:enumeration value="Sciences" />
						<xs:enumeration value="SocialStudies" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="assessmentToolUri" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Assessment Tool URI </elementName>
						<sifChar>O</sifChar>

						<cedsId>001204</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001204</cedsURL>

						<definitionRefId>c1d26303-9866-4844-83f2-24aae21dba62</definitionRefId>
					</xs:appinfo>
					<xs:documentation> The Uniform Resource Locator (URL) location of the external Assessment Asset content. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultType'>

		<xs:annotation>
			<xs:appinfo>
				<elementName> Standardized Assessment Result </elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
				<definitionRefId>0c0a0e89-4cbf-4267-9212-bd592a8d6256</definitionRefId>
			</xs:appinfo>
			<xs:documentation> Results of a specific standardized assessment </xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element type='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultStandardsReferenceType' name="standardsReference" minOccurs="0" maxOccurs="unbounded" />
			<xs:element type='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultAccommodationListType' name="accommodationList" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- local parent type -->
	<xs:complexType name='iepPlanStandardizedAssessmentResultListType'>

		<xs:annotation>
			<xs:appinfo>
				<elementName> Standardized Assessment Result List </elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
				<definitionRefId>1486fd26-85e3-46ce-8fa5-68af5bddf164</definitionRefId>
			</xs:appinfo>
			<xs:documentation> Results of standardized assessments used to document current student performance </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element type='iepPlanStandardizedAssessmentResultListStandardizedAssessmentResultType' name="standardizedAssessmentResult" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>


</xs:schema>