Entity/SIFNAindividualizedEducationPlan/plan/iepPlanAnnualGoalMeasurableObjectiveListType.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- start redundant declaration  for SIF tool analysis -->
	<xs:include schemaLocation="../../../SIFglobal.xsd"/>
	<xs:include schemaLocation="../../../Composite/SIFNAxPressCommonTypes.xsd" />
	<xs:include schemaLocation="../../../Composite/SIFNAxPress.xsd" />
	<xs:include schemaLocation="../iepCommonTypes.xsd" />
	<!-- end redundant declaration for SIF tool analysis -->
	<xs:complexType name='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveFacilitatorListFacilitatorIdentityType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Facilitator Identity
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Pointer to identity information for a person who will help the student achieve this goal
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactRefId" type="iepCommonContactRefIdPointerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pointer to xContact object when facilitator is a contact </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="staffRefId" type="iepCommonStaffRefIdPointerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pointer to xStaff object when facilitator is a staff member </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parentGuardianRefId" type="iepCommonStudentContactRefIdPointerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pointer to studentContacts xContact object when facilitator is a studentContact </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalMeasurableObjectiveMeasurementCriterionMetricTrialCountEvaluationType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Trial Count Specification
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Specifies minimum of trials and success threshold
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="successCount" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Goal Measurement Criterion Success Coun
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>001694</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001694</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						The number of correct results that will be considered to represent successful achievement of a goal.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attemptCount" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Goal Measurement Criterion Attempts Count
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>001692</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001692</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						The number of attempts representing a completed trial for assessing achievement of a goal.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveMeasurementMetricType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Metric
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Definition of the quantitative measurement by which success will be judged. Three structures are defined.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="accuracyPercentEvaluation" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Goal Measurement Criterion Accuracy Percent
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>001691</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001691</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						The percent of correct results that will be considered to represent successful achievement of a goal.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type='iepPlanAnnualGoalMeasurableObjectiveMeasurementCriterionMetricTrialCountEvaluationType' name="trialCountEvaluation" minOccurs="0" />
			<xs:element name="otherEvaluation" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Other Evaluation Method
						</elementName>
						<sifChar>O</sifChar>
						<cedsId />
						<cedsURL />
					</xs:appinfo>
					<xs:documentation>
						Description of other specific success measurement method
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveMeasurementType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Criterion
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Criterion used to determine success or progress toward mastering this objective
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Goal Measurement Description
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>001695</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001695</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						The procedures and/or instruments that will be used to measure achievement of a goal or short-term objective.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveMeasurementMetricType' name="metric" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveMeasurementListType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Measurement
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Definition of the way we will know the student has achieved the goal
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element type='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveMeasurementType' name="criterion" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveFacilitatorListFacilitatorType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Facilitator
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Person who will help the student achieve this goal
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identity" type="iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveFacilitatorListFacilitatorIdentityType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Identity
						</elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
					</xs:appinfo>
					<xs:documentation>
						Facilitator Identity
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contribution" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Contribution
						</elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
					</xs:appinfo>
					<xs:documentation>
						The help this facilitor is asked to contribut to the achievement of this objective
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveFacilitatorListType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Facilitator List
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				List of people who will help the student achieve this goal
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element type='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveFacilitatorListFacilitatorType' name="facilitator" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Measurable Objective
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Specific objective that will be achieved in the pursuit of this goal
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Learning Standard Item Code
						</elementName>
						<sifChar>O</sifChar>
						<cedsId>000692</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000692</cedsURL>
					</xs:appinfo>
					<xs:documentation>
						A human-referenceable code designated by the publisher to identify the item in the hierarchy of competency framework items.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveFacilitatorListType' name="facilitatorList" minOccurs="0" maxOccurs="unbounded" />
			<xs:element type='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveMeasurementListType' name="measurement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="parentAcceptance" type="iepPlanAnnualGoalListParentAcceptanceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<elementName>
							Parent Acceptance
						</elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
					</xs:appinfo>
					<xs:documentation>
						Parental agreement (or disagreement) with judging objective based on specified criterion
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- named type -->
	<xs:complexType name='iepPlanAnnualGoalMeasurableObjectiveListType'>
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Measurable Objective List
				</elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Objectives that will be achieved in the pursuit of this goal
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element type='iepPlanAnnualGoalMeasurableObjectiveListMeasurableObjectiveType' name="measurableObjective" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>