Entity/SIFNAxPressCommonTypes-NoValueSets.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- SIF xPress Common Type Definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="SIFglobal.xsd"/>
	<xs:simpleType name="sAddressTypeForLearnerOrFamilyType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000010</cedsId>>
				<cedsURL>https://ceds.ed.gov/element/000010</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sAddressTypeForOrganizationType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>001066</cedsId>
				<cedsURL>https://ceds.ed.gov/element/001066</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sStateCodeUSType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000267</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000267</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sStateSuperCodeType">
		<xs:union memberTypes="sStateCodeUSType"/>
		<!-- used to aggregate multiple state/province codes if needed -->
	</xs:simpleType>
	<xs:simpleType name="sCountryCodeType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000050</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000050</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sPersonAddressType">
		<xs:sequence>
			<xs:element name="addressType" type="sAddressTypeForLearnerOrFamilyType"/>
			<xs:element name="line1" type="xs:normalizedString">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000269</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000269</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="line2" type="xs:normalizedString">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000019</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000019</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="xs:normalizedString">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000040</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000040</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stateProvince" type="sStateCodeUSType"/>
			<xs:element name="countryCode" type="sCountryCodeType"/>
			<xs:element name="postalCode" type="xs:normalizedString">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000214</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000214</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sOrganizationAddressType">
		<xs:sequence>
			<xs:element name="addressType" type="sAddressTypeForOrganizationType">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>001066</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001066</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="line1" type="xs:normalizedString">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000269</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000269</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="line2" type="xs:normalizedString">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000019</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000019</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="xs:normalizedString">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000040</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000040</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stateProvince" type="sStateCodeUSType"/>
			<xs:element name="countryCode" type="sCountryCodeType"/>
			<xs:element name="postalCode" type="xs:normalizedString">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000214</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000214</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sTelephoneTypeType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000280</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000280</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sTelephoneType">
		<xs:sequence>
			<xs:element name="phoneNumberType" type="sTelephoneTypeType" minOccurs="0"/>
			<xs:element name="number" type="xs:token">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000279</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000279</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000219</cedsId>
						<cedsUrl>https://ceds.ed.gov/element/000219</cedsUrl>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sTelephoneListType">
		<xs:sequence>
			<xs:element name="phoneNumber" type="sTelephoneType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sEmailTypeType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000089</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000089</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sEmailType">
		<xs:sequence>
			<xs:element name="emailType" type="sEmailTypeType" minOccurs="0"/>
			<xs:element name="emailAddress" type="xs:token">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000088</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000280</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sEmailListType">
		<xs:sequence>
			<xs:element name="email" type="sEmailType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sSexType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000255</cedsId>
				<cedsUrl>https://ceds.ed.gov/element/000255</cedsUrl>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sDemographicsType">
		<xs:sequence>
			<xs:element name="raceList" type="sRaceListType"/>
			<xs:element name="hispanicLatinoEthnicity" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000144</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000144</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sexus" type="sSexType" minOccurs="0"/>
			<xs:element name="birthDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000033</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000033</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="usCitizenshipStatus" type="gCitizenshipStatusType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000299</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000299</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sRaceTypeType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:complexType name="sRaceType">
		<xs:sequence>
			<xs:element name="race" type="sRaceTypeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sRaceListType">
		<xs:sequence>
			<xs:element name="race" type="sRaceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sMembershipTypeType">
		<xs:annotation>
			<xs:appinfo>
				<sifMapping target="SIF" version="2.7M">
					<targetElement idType="XPath">StudentSchoolEnrollment/@MembershipType</targetElement>
					<!-- this was mapped to SIF 2.7M because there do not appear to be standard codesets defined in SIF 3.2, nor is there an analog in CEDS -->
				</sifMapping>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sResponsibleSchoolTypeType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000595</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000595</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sEnrollmentType">
		<xs:sequence>
			<xs:element name="leaRefId" type="gRefIdPointerType" minOccurs="1"/>
			<xs:element name="schoolRefId" type="gRefIdPointerType" minOccurs="1"/>
			<xs:element name="responsibleSchoolType" type="sResponsibleSchoolTypeType"/>
			<xs:element name="membershipType" type="sMembershipTypeType" minOccurs="1"/>
			<xs:element name="entryDate" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000097</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000097</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="exitDate" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000107</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000107</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="homeRoomNumber" type="xs:token">
				<xs:annotation>
					<xs:appinfo>
						<sifMapping target="SIF" version="3.2">
							<targetElement idType="XPath">studentSchoolAssociation/homeRoomRefId</targetElement>
							<!-- This is not a direct mapping since the intent is to communicate the local room identifiers, not RefIds for rooms -->
						</sifMapping>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearGroup" type="sGradeLevelType">
				<xs:annotation>
					<xs:appinfo>
						<sifMapping target="SIF" version="2.7M">
							<targetElement idType="XPath">StudentPersonal/MostRecent/GradeLevel</targetElement>
							<!-- CEDS appears to have entry and exit grade level, but not a current grade level -->
						</sifMapping>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="projectedGraduationYear" type="xs:gYear">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000226</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000226</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="counselorRefId" type="gRefIdPointerType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<sifMapping target="SIF" version="3.2">
							<targetElement idType="XPath">studentSchoolAssociation/counselor</targetElement>
						</sifMapping>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sEnrollmentListType">
		<xs:sequence>
			<xs:element name="enrollment" type="sEnrollmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sAcademicSummaryType">
		<xs:sequence>
			<xs:element name="cumulativeWeightedGpa" type="xs:decimal">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000128</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000128</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="termWeightedGpa" type="xs:decimal">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000129</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000129</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="classRank" type="xs:integer">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000041</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000041</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xContactType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType"/>
					<xs:element name="otherNames" type="sOtherPersonNameListType"/>
					<xs:element name="localId" type="sPersonIdType"/>
					<xs:element name="loginId" type="sLoginIdType"/>
					<xs:element name="otherIds" type="sOtherPersonIdListType"/>
					<xs:element name="address" type="sPersonAddressType"/>
					<xs:element name="phoneNumber" type="sTelephoneType"/>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType"/>
					<xs:element name="email" type="sEmailType"/>
					<xs:element name="otherEmails" type="sEmailListType"/>
					<xs:element name="sexus" type="sSexType"/>
					<xs:element name="employerType" type="sEmployerType"/>
					<xs:element name="relationships" type="sContactStudentRelationshipListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sStudentContactListType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="contactPersonRefId" type="gRefIdPointerType"/>
			<xs:element name="xContact" type="xContactType"/> <!-- included to support requirement for SRE to carry the full payload of the contact -->
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="sLanguageCodeType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000317</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000317</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sLanguageTypeType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000316</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000316</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sLanguageType">
		<xs:sequence>
			<xs:element name="type" type="sLanguageTypeType" minOccurs="0"/>
			<xs:element name="code" type="sLanguageCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sLanguageListType">
		<xs:sequence>
			<xs:element name="language" type="sLanguageType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sStaffPersonAssignmentType">
		<xs:sequence>
			<xs:element name="leaRefId" type="gRefIdPointerType" minOccurs="1"/>
			<xs:element name="schoolRefId" type="gRefIdPointerType" minOccurs="1"/>
			<xs:element name="jobFunction" type="sEducationStaffClassificationType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sStaffPersonAssignmentListType">
		<xs:sequence>
			<xs:element name="staffPersonAssignment" type="sStaffPersonAssignmentType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sEducationStaffClassificationType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000087</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000087</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sEmployerType">
		<xs:annotation>
			<xs:appinfo>
				<sifMapping target="SIF" version="2.7M">
					<targetElement idType="XPath">StudentContact/EmployerType</targetElement>
					<!-- Added from SIF2.7/NCES 0614; combined the NCES codeset with the new style of CEDS descriptive codes -->
				</sifMapping>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sContactStudentRelationshipType">
		<xs:sequence>
			<xs:element name="studentRefId" type="gRefIdPointerType"/>
			<xs:element name="relationshipCode" type="sPersonRelationshipToLearnerType"/>
			<xs:element name="restrictions" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>001424</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001424</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="livesWith" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>001425</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001425</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryContactIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>001428</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001428</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="emergencyContactIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>001341</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001341</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="financialResponsibilityIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<sifMapping target="SIF" version="3.2">
							<targetElement idType="XPath">contactPersonAssociation/contactFlagList/contactFlag</targetElement>
						</sifMapping>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="custodialIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<sifMapping target="SIF" version="3.2">
							<targetElement idType="XPath">contactPersonAssociation/contactFlagList/contactFlag</targetElement>
						</sifMapping>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="communicationsIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<sifMapping target="SIF" version="3.2">
							<targetElement idType="XPath">contactPersonAssociation/contactFlagList/contactFlag</targetElement>
						</sifMapping>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactSequence" type="xs:integer">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>001423</cedsId>
						<cedsURL>https://ceds.ed.gov/element/001423</cedsURL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sContactStudentRelationshipListType">
		<xs:sequence>
			<xs:element name="relationship" type="sContactStudentRelationshipType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sPersonRelationshipToLearnerType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000425</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000425</cedsURL>
			</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sGradeLevelType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>001301</cedsId>
				<cedsURL>https://ceds.ed.gov/CEDSElementDetails.aspx?TermId=6267</cedsURL>
			</xs:appinfo>
			<xs:documentation>Definition: The education level, grade level or primary instructional level at which a course is intended. Usage Notes: This element is repeatable for most use cases. Examples: (1.) SCED identifiers may specify a grade span of two or more grades. (2) A postsecondary course designed to qualify a student for an associates degree and professional certification could be repeated with both of those options.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sApplicableEducationLevelListType">
		<xs:sequence>
			<xs:element name="applicableEducationLevel" type="sGradeLevelType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sSessionTypeType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000254</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000254</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sSessionType">
		<xs:sequence>
			<xs:element name="sessionType" type="sSessionTypeType"/>
			<xs:element name="sessionCode" type="xs:token"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="markingTerm" type="xs:boolean"/>
			<xs:element name="schedulingTerm" type="xs:boolean"/>
			<xs:element name="linkedSessionCode" type="xs:token"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sSessionListType">
		<xs:sequence>
			<xs:element name="sessionList" type="sSessionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sDayOfWeekType">
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sDayListType">
		<xs:sequence>
			<xs:element name="bellScheduleDay" type="sDayOfWeekType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sPersonReferenceType">
		<xs:sequence>
			<xs:element name="refId" type="gRefIdPointerType"/>
			<xs:element name="localId" type="sPersonIdType"/>
			<xs:element name="givenName" type="xs:normalizedString"/>
			<xs:element name="familyName" type="xs:normalizedString"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sStudentReferenceListType">
		<xs:sequence>
			<xs:element name="studentReference" type="sPersonReferenceType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sStaffReferenceType">
		<xs:sequence>
			<xs:element name="staffPersonReference" type="sPersonReferenceType"/>
			<xs:element name="teacherOfRecord" type="xs:boolean"/>
			<xs:element name="percentResponsible" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sStaffReferenceListType">
		<xs:sequence>
			<xs:element name="otherStaff" type="sStaffReferenceType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sPersonNameTypeType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000634</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000634</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<!-- the following enumeration has been added to generalize the name type structure to support passing the primary name as legal name -->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sPersonNameType">
		<xs:sequence>
			<xs:element name="type" type="sPersonNameTypeType"/>
			<xs:element name="prefix" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000212</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000212</cedsURL>
					</xs:appinfo>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="familyName" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000172</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000172</cedsURL>
					</xs:appinfo>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="givenName" type="xs:normalizedString">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000115</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000115</cedsURL>
					</xs:appinfo>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000184</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000184</cedsURL>
					</xs:appinfo>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="suffix" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<cedsId>000121</cedsId>
						<cedsURL>https://ceds.ed.gov/element/000121</cedsURL>
					</xs:appinfo>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sOtherPersonNameListType">
		<xs:sequence>
			<xs:element name="name" type="sPersonNameType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sPersonIdType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="sPersonIdSystemType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>001571</cedsId>
				<cedsURL>https://ceds.ed.gov/element/001571</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<!-- additional enumerations may be desirable for application identifiers -->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sOtherPersonIdType">
		<xs:sequence>
			<xs:element name="type" type="sPersonIdSystemType"/>
			<xs:element name="id" type="sPersonIdType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sOtherPersonIdListType">
		<xs:sequence>
			<xs:element name="otherId" type="sOtherPersonIdType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sCourseIdType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000055</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000055</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="sCourseCodeSystemType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000056</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000056</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="sOtherCourseIdType">
		<xs:sequence>
			<xs:element name="type" type="sCourseCodeSystemType"/>
			<xs:element name="id" type="sCourseIdType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sOtherCourseIdListType">
		<xs:sequence>
			<xs:element name="otherId" type="sOtherCourseIdType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sYearGroupListType">
		<xs:sequence>
			<xs:element name="yearGroup" type="sGradeLevelType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sOtherOrganizationIdType">
		<xs:sequence>
			<xs:element name="type" type="sOrganizationIdentificationSystemType"/>
			<xs:element name="id" type="xs:token"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sOtherOrganizationIdListType">
		<xs:sequence>
			<xs:element name="otherId" type="sOtherOrganizationIdType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sOrganizationIdType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="sOrganizationIdentificationSystemType">
		<xs:restriction base="xs:token">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sSubjectType">
		<xs:annotation>
			<xs:appinfo>
				<sifMapping target="SIF" version="3.2">
					<targetElement idType="XPath">course/subjectAreaList/subjectArea/code/otherCodeList/otherCode</targetElement>
					<!-- CEDS does not have an informal concept for identifying a course subject; it uses SCED which is more rigorous than what is desired here -->
				</sifMapping>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="sSchoolYearType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>000243</cedsId>
				<cedsURL>https://ceds.ed.gov/element/000243</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:gYear"/>
	</xs:simpleType>
	<xs:simpleType name="sLoginIdType">
		<xs:annotation>
			<xs:appinfo>
				<cedsId>001170</cedsId>
				<cedsURL>https://ceds.ed.gov/element/001170</cedsURL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
</xs:schema>
