Report/specialEducation/bak/SIFNASpecialEducationEligibility.xsd.bak

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../../Composite/SIFNAxPressCommonTypes.xsd" />
	<xs:include schemaLocation="../../Composite/SIFNAxPress.xsd" />
	<xs:include schemaLocation="SIFNASpecialEducationCommonTypes.xsd" />
	<xs:complexType name="xSpecialEducationEligibilityType">
		<xs:annotation>
			<xs:appinfo>
				<elementName>Eligibility</elementName>
				<events>no</events>
				<isSIFObject>yes</isSIFObject>
				<cedsId/>
				<cedsURL/>
<definitionRefId>0ef2e848-f613-4a4c-9899-743566f4a71c</definitionRefId>
			</xs:appinfo>
			<xs:documentation>
				Information about a student's need and eligibility for special education services.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gOtherSIFType">
				<xs:sequence>
					<xs:element name="background" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									Background
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
<definitionRefId>1e5936e1-5024-445a-97a5-bc647b6b4127</definitionRefId>
							</xs:appinfo>
							<xs:documentation>
								Information and history establishing context of student evaluation for Special Education services
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="referral">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="explanation" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Explanation of the Need for Evaluation
														</elementName>
														<sifChar>O</sifChar>
														<cedsId>001483</cedsId>
														<cedsURL>https://ceds.ed.gov/element/001483</cedsURL>
<definitionRefId>874e6ff4-c8fa-4b9c-be66-232b618194e0</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Explanation of observations and issues that motivate the request for evaluation
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="referrer">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="identity" type="xs:date" minOccurs="0">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Identity of Person Who Referred Student for Evaluation
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId/>
																	<cedsURL/>
<definitionRefId>343addc7-f23b-4f94-962a-ab767ee018d1</definitionRefId>
																</xs:appinfo>
																<xs:documentation>
																	Parent or official referring student for evaluation
																</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="date" type="xs:date" minOccurs="0">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Date Referral to Evaluate was Made
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId>001481</cedsId>
																	<cedsURL>https://ceds.ed.gov/element/001481</cedsURL>
																	
<definitionRefId>04b85c4a-76f3-43b8-87a7-ec240ec9897b</definitionRefId>
																</xs:appinfo>
																<xs:documentation>
																	Date Referral to Evaluate was Made
																</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="history" type="xs:normalizedString" minOccurs="0">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Explanation of Historical Factors Justifying Evaluation
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
<definitionRefId>8c07a849-72c0-4e82-8338-96df64da018b</definitionRefId>
										</xs:appinfo>
										<xs:documentation>
											Historical information significant to special education evaluation
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="currentPlacement" type="xs:normalizedString" minOccurs="0">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Current Placement
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
<definitionRefId>0977d7f0-da88-4415-8c7a-b9f555718a61</definitionRefId>
										</xs:appinfo>
										<xs:documentation>
											Description of the current placement of student
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="parentObservations" type="xs:normalizedString" minOccurs="0">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Parent Observations
											</elementName>
											<sifChar>O</sifChar>
											<cedsId>001732</cedsId>
											<cedsURL>https://ceds.ed.gov/element/001732</cedsURL>
											
<definitionRefId>e2f3d4a7-f327-49d7-8865-c08ffe9504d0</definitionRefId>
										</xs:appinfo>
										<xs:documentation>
											Parent explanation of student’s characteristics and history
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="consentToEvaluation" minOccurs="1" maxOccurs="unbounded">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Consent to Evaluate
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
<definitionRefId>d4668a20-7694-4aa0-9b27-4ac2fa312eaa</definitionRefId>
										</xs:appinfo>
										<xs:documentation>
											Legal authorization to conduct evaluation
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="accepted" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName> Accepted </elementName>
														<sifChar>O</sifChar>
														<cedsId>001726</cedsId>
														<cedsURL>https://ceds.ed.gov/element/001726</cedsURL>
														
<definitionRefId>149d7cb7-0b7c-45d4-82c5-005f173b9791</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Indication of parental agreement to evaluate student.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="identity" type="xSpecialEducationAuthorizingPersonType" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Identity of Consenting Person
														</elementName>
														<sifChar>O</sifChar>
														
														<cedsId>001727</cedsId>
														<cedsURL>https://ceds.ed.gov/element/001727</cedsURL>
														
<definitionRefId>c9c25b67-3f63-43f8-870b-7313f6cd6d58</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Identity of Consenting Person
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="evaluationResultList" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									Evaluation Results
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
<definitionRefId>0b6c73e6-151f-48c8-bf40-96f00cf26f7d</definitionRefId>
							</xs:appinfo>
							<xs:documentation>
								List of the results of evaluations of the student
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="evaluationResult" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Evaluation Result
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
<definitionRefId>8f580355-71c9-4753-bc0b-f4bc78de25e0</definitionRefId>
										</xs:appinfo>
										<xs:documentation>
											Results of one specific evaluation.
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="explanation" type="xs:normalizedString">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Evaluation Result Explanation
														</elementName>
														<sifChar>O</sifChar>
														<cedsId>001730</cedsId>
														<cedsURL>https://ceds.ed.gov/element/001730</cedsURL>
														
<definitionRefId>0c54f35a-58cf-4fb6-9d34-b32fab4bcfbe</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Description of evaluation procedure and nature of the result
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="type" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>Evaluation Type</elementName>
														<sifChar>O</sifChar>
														<cedsId>001729</cedsId>
														<cedsURL>https://ceds.ed.gov/element/001729</cedsURL>
														
<definitionRefId>c15842a1-6d86-4f49-bed3-e313184be748</definitionRefId>
													</xs:appinfo>
													<xs:documentation>Category of evaluation</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:normalizedString">
														<xs:enumeration value="Academic" />
														<xs:enumeration value="Preacademic" />
														<xs:enumeration value="Behavior" />
														<xs:enumeration value="Adaptive" />
														<xs:enumeration value="Transition" />
														<xs:enumeration value="Communication" />
														<xs:enumeration value="Motor" />
														<xs:enumeration value="Hearing" />
														<xs:enumeration value="Vision" />
														<xs:enumeration value="Medical" />
														<xs:enumeration value="Language" />
														<!-- HOW DO I ALLOW FOR "OTHER" ? tqii -->
														<!-- IS THIS THE RIGHT LIST? tqii -->
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="date" type="xs:date" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Date of Evaluation
														</elementName>
														<sifChar>O</sifChar>
														<cedsId>001731</cedsId>
														<cedsURL>https://ceds.ed.gov/element/001731</cedsURL>
														
<definitionRefId>25cb1adb-8153-4fb4-8f72-1dafc7ddc8b8</definitionRefId>
													</xs:appinfo>
													<xs:documentation>The date when the evaluation was conducted.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="lifecyclePurpose" nillable="true" minOccurs="1">
												<xs:annotation>
													<xs:appinfo>
														<elementName>Lifecycle Purpose of Evaluation</elementName>
														<sifChar>O</sifChar>
														<cedsId>001728</cedsId>
														<cedsURL>https://ceds.ed.gov/element/001728</cedsURL>
														
<definitionRefId>b7aa2611-ed5a-4268-ad89-a1f9a5cf40e5</definitionRefId>
													</xs:appinfo>
													<xs:documentation>IEP lifecycle evaluation purpose</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:normalizedString">
														<xs:enumeration value="Initial" />
														<xs:enumeration value="Reevaluation" />
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ideaDisability" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									IDEA Disability Determination
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
<definitionRefId>1937f429-6c49-4fe6-a071-28be5b97a76a</definitionRefId>
							</xs:appinfo>
							<xs:documentation>
								Formal presentation of factors leading to conclusion that IDEA disability had been found or not
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="disabilityCodeList" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Disability Code List
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
<definitionRefId>9095b5ef-95d2-48cb-816d-c4955f9d664c</definitionRefId>
										</xs:appinfo>
										<xs:documentation>
											List of legal identifiers for disabilities found.
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="disabilityCode" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Disability Code
														</elementName>
														<sifChar>O</sifChar>
														<cedsId>001733</cedsId>
														<cedsURL>https://ceds.ed.gov/element/001733</cedsURL>
														
<definitionRefId>3c78d60c-a59b-4e06-8441-e7a412aedae9</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Legal identifier for one specific disability found.
													</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:normalizedString">
														<xs:enumeration value="none" />
														<xs:enumeration value="Autism" />
														<xs:enumeration value="DeafBlindness" />
														<xs:enumeration value="DevelopmentalDelay" />
														<xs:enumeration value="EmotionalDisability" />
														<xs:enumeration value="HearingImpairment" />
														<xs:enumeration value="IntellectualDisability" />
														<xs:enumeration value="MultipleDisabilities" />
														<xs:enumeration value="OrthopedicImpairment" />
														<xs:enumeration value="OtherHealthImpairment" />
														<xs:enumeration value="SpeechorLanguageImpairment" />
														<xs:enumeration value="TraumaticBrainInjury" />
														<xs:enumeration value="VisualImpairmentincludingBlindness" />
														<xs:enumeration value="SPECIFICLEARNINGDISABILITY" />
														<xs:enumeration value="TEAMOVERRIDE" />
														<!-- IS THIS THE RIGHT LIST? tqii -->
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="analysis" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:appinfo>
											<sifChar>OR</sifChar>
											<cedsId/>
											<cedsURL/>
<definitionRefId>752bbce0-1b7a-4e71-b467-322fd9e0c222</definitionRefId>
										</xs:appinfo>
										<xs:documentation/>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="adverseEffects" type="xs:normalizedString">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Evaluation Result Explanation
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>640e539d-0683-4eb0-ad00-482e0922d5a6</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Discussion of the educational problems that result from the disability
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="educationNeeds" type="xs:normalizedString">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Evaluation Result Explanation
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>0db3677d-c721-4bd5-9ab4-f3556040f31b</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Description of the overall changes needed for the student’s educational program
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="otherInformation" type="xs:normalizedString">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Evaluation Result Explanation
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>3cce1481-ad27-432f-8493-32afd3812dff</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Additional information that explains how to improve the student’s educational outcome.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="SpecialDiagnosisJustifications">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="specificLearningDisability" minOccurs="1" maxOccurs="1">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Justification for Specific Learning Disability
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>c2399b8d-5956-4472-a4a5-a0fa94d9d1ef</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														CEDS: Information supporting disability code ‘specific learning disability’
													</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="primaryCauseExclusions" minOccurs="1" maxOccurs="1">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Primary Cause Exclusions
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId/>
																	<cedsURL/>
<definitionRefId>735a48de-a01e-4b8c-bd23-b76ec39dea29</definitionRefId>
																</xs:appinfo>
																<xs:documentation>
																	Proof that the disability is not the the result of disqualified causes and is qualified for funding
																</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="determinantFactors">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Determinant Factors
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
<definitionRefId>2622f6bf-5f4c-4904-9af7-f6e145fa5e5d</definitionRefId>
																			</xs:appinfo>
																			<xs:documentation>
																				Conditions whose presence disqualifies student from special education programs
																			</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="insufficientMath" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Insufficient Math Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
<definitionRefId>f7936b10-0ca2-4d2c-b79c-078fef1b32e0</definitionRefId>
																						</xs:appinfo>
																						<xs:documentation>
																							Insufficient Math Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="insufficientReading" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Insufficient Reading Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
<definitionRefId>e7f7fc07-19d6-44c6-aeaf-8e5998720406</definitionRefId>
																						</xs:appinfo>
																						<xs:documentation>
																							Insufficient Reading Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="insufficientEnglish" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Insufficient English Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
<definitionRefId>6468bda2-5dd0-4e58-92d9-aad29a7c883d</definitionRefId>
																						</xs:appinfo>
																						<xs:documentation>
																							Insufficient English Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="visualHearingOrMotorDisability" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Visual, Hearing Or Motor Disability Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
<definitionRefId>5e17229b-d578-4fa9-a76f-4ac3082c5775</definitionRefId>
																						</xs:appinfo>
																						<xs:documentation>
																							Visual, Hearing Or Motor Disability Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="intellectualDisability" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Intellectual Disability Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
<definitionRefId>bf47f2fd-8735-449c-b133-68d9090ff402</definitionRefId>
																						</xs:appinfo>
																						<xs:documentation>
																							Intellectual Disability Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="emotionalDisability" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Emotional Disability Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
<definitionRefId>4efd4532-a64d-4730-a9ac-daa7dee873ec</definitionRefId>
																						</xs:appinfo>
																						<xs:documentation>
																							Emotional Disability Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="culturalFactors" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Cultural Factors Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
<definitionRefId>fa83cb35-d4be-454d-92f1-023492002fcf</definitionRefId>
																						</xs:appinfo>
																						<xs:documentation>
																							Cultural Factors Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="environmentalOrEconomicDisadvantage" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Environmental Or Economic Disadvantage Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
<definitionRefId>228b8fcd-4fce-44cb-9cf6-380b2f296b1c</definitionRefId>
																						</xs:appinfo>
																						<xs:documentation>
																							Environmental Or Economic Disadvantage Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="limitedEnglishProficiency" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Limited English Proficiency Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
<definitionRefId>f845d527-86a1-42f7-a068-3500cedf8571</definitionRefId>
																						</xs:appinfo>
																						<xs:documentation>
																							Limited English Proficiency Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="medicalExplanation" type="xs:normalizedString" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Medical Reasons Against Exclusions
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
<definitionRefId>98654ed1-977f-443f-98f7-cf9844fc833e</definitionRefId>
																			</xs:appinfo>
																			<xs:documentation>
																				Medical reasons for determination that a potentially excluded factor is actually a disability
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="otherFactorsExplanation" type="xs:normalizedString" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Other Reasons Against Exclusion
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
<definitionRefId>aebf85c8-3c31-4adf-81d9-093896636b9b</definitionRefId>
																			</xs:appinfo>
																			<xs:documentation>
																				Other reasons that student should not be excluded from special education programs
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="lackOfAdequateAchievementExplanation" type="xs:normalizedString" minOccurs="0">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Lack of Adequate Achievement Explanation
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId/>
																	<cedsURL/>
<definitionRefId>37ce4a8a-9c97-4554-907f-9cac427fe2ef</definitionRefId>
																</xs:appinfo>
																<xs:documentation>
																	Description the specific educational shortcomings that lead to a disability diagnosis
																</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="learningSettingObservations" type="xs:normalizedString" minOccurs="0">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Learning Setting Observations
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId/>
																	<cedsURL/>
<definitionRefId>76366327-949a-4b45-9466-5d9974bea8a6</definitionRefId>
																</xs:appinfo>
																<xs:documentation>
																	Observations about the student’s performance in a practical learning setting
																</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="decisions" minOccurs="1" maxOccurs="1">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="severeDiscrepancyFound" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Severe Discrepancy Found
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
<definitionRefId>cff249ef-eb82-4295-8371-02328b9f6952</definitionRefId>
																			</xs:appinfo>
																			<xs:documentation>
																				Determination that there is a severe discrepancy between standard educational attainment and student performance
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="InsufficientResponseToInterventionFound" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Insufficient Response to Intervention
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
<definitionRefId>092282e5-5793-4c6c-a006-15d79384b737</definitionRefId>
																			</xs:appinfo>
																			<xs:documentation>
																				Determination that student has not responded to intervention
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="eligibleForSpecificLearningDisabilityFinding" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Eligible
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
<definitionRefId>25780185-27f2-4080-bbfb-0c354a02f0dc</definitionRefId>
																			</xs:appinfo>
																			<xs:documentation>
																				Determination that this student is eligible for special education
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="TeamOverride" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Justification for Team Override
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>4b10aab2-d9bf-4073-a902-df365cb55d2d</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Information supporting the disability code ‘Team Override’
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="decisions">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="specificDisabilityIdentified" type="xs:boolean" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Specific Disability Exists
														</elementName>
														<sifChar>O</sifChar>
														<cedsId>000577</cedsId>
														<cedsURL>https://ceds.ed.gov/element/000577</cedsURL>
														
<definitionRefId>549fe64a-f3bb-4c7f-8290-ce5fabbbe4d3</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Official determination that a specific disability exists
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="adverseEffectIdentified" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Adverse Effects Found
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>6cf5cb6d-1437-442d-8a16-719d1dad68ea</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Official determination that the disability has adverse effects
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="eligible" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Student is Eligible
														</elementName>
														<sifChar>O</sifChar>
														<cedsId>000151</cedsId>
														<cedsURL>https://ceds.ed.gov/element/000151</cedsURL>
														
<definitionRefId>a3a01a85-e0a0-4dde-8758-9ccc7f9859f4</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Official determination that the student is eligible for an IEP
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="participantReportList" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									Participant Reports
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
<definitionRefId>511d8379-e693-4cd7-805c-41b82271395f</definitionRefId>
							</xs:appinfo>
							<xs:documentation>
								Documentation produced by people who have participated in the eligibility determination
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="participantReport" minOccurs="1" maxOccurs="1">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Evaluation Report
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
<definitionRefId>67b87382-9a64-4664-83a1-07f349473a15</definitionRefId>
										</xs:appinfo>
										<xs:documentation>
											Reports and comments by participants in the eligibility study
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="authorization" type="xSpecialEducationAuthorizingPersonType" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Report Author
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>c2b5ed70-e50d-40ef-8833-cdec6316ecaa</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Proved identity of report author
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="role" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Role
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>335c4d7d-12c8-4265-bbde-716865cb3e24</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Professional occupation category or relationship to student
													</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Parent" type="xs:string" />
														<xs:element name="Student" type="xs:string" />
														<xs:element name="LEARep" type="xs:string" />
														<xs:element name="GeneralEdTeacher" type="xs:string" />
														<xs:element name="SpecialEdTeacher" type="xs:string" />
														<xs:element name="SchoolPsychologist" type="xs:string" />
														<xs:element name="SchoolSocialWorker" type="xs:string" />
														<xs:element name="SpeechLanguagePathologist" type="xs:string" />
														<xs:element name="BilingualSpecialist" type="xs:string" />
														<xs:element name="Physician" type="xs:string" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="procedures" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Procedures
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>15200d31-c606-4dcd-9803-f83dcbb37a37</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														What the participant did with the student
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="observations" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Observations
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>2d940e6b-e619-4930-8509-33a0b07aa177</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														What the participant observed during evaluation
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="conclusions" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Conclusions
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
<definitionRefId>4d56325f-ad9f-4c7a-8fcc-78e38b4ed326</definitionRefId>
													</xs:appinfo>
													<xs:documentation>
														Conclusions reached as a result of the evaluation
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>