Report/specialEducation/SIFNASpecialEducationIndividualEducationPlanAnnualGoalsList.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../../Composite/SIFNAxPressCommonTypes.xsd" />
	<xs:include schemaLocation="../../Composite/SIFNAxPress.xsd" />
	<xs:complexType name="xSpecialEducationIndividualEducationPlanAnnualGoalListType">
		<xs:annotation>
			<xs:appinfo>
				<elementName> Annual Goals List </elementName>
				<sifChar>O</sifChar>
				<cedsId/>
				<cedsURL/>
<definitionRefId>58bff2d2-b2b9-4345-b541-ef3e5cb716a6</definitionRefId>
			</xs:appinfo>
			<xs:documentation> List of goals to be sought for a special education student </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="annualGoal" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<elementName> Annual Goal </elementName>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
<definitionRefId>cf4098e7-3561-4698-807e-402d4e47dadb</definitionRefId>
					</xs:appinfo>
					<xs:documentation> Documentation of an annual goal to be achieved by a special education student
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="currentPerformace" type="xs:normalizedString" minOccurs="0" />
						<xs:element name="currentStatus" type="xs:normalizedString" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName>
										Current Status
									</elementName>
									<sifChar>O</sifChar>
									<cedsId/>
									<cedsURL/>
<definitionRefId>90e1982e-8ac9-4b10-89ee-17cafd2e73fb</definitionRefId>
								</xs:appinfo>
								<xs:documentation>
									Explanation of the student's current status relative to this goal.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="parentAcceptance" type="parentAcceptanceType" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<elementName>
										Parent Acceptance of Goal
									</elementName>
									<sifChar>O</sifChar>
									<cedsId/>
									<cedsURL/>
<definitionRefId>215c0ca6-2bf0-4df3-b663-d800923122d2</definitionRefId>
								</xs:appinfo>
								<xs:documentation>
									Parental agreement (or disagreement) with wworking toward this goal
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="goalType" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<elementName>
										Goal Type
									</elementName>
									<sifChar>O</sifChar>
									<cedsId/>
									<cedsURL/>
<definitionRefId>295f99ab-5491-4cef-83a0-45d5ea144c60</definitionRefId>
								</xs:appinfo>
								<xs:documentation>
									Category and reference information for goal
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="category" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<elementName>
													Category
												</elementName>
												<sifChar>O</sifChar>
												<cedsId/>
												<cedsURL/>
<definitionRefId>3c9278fe-457a-40cc-96e0-490b9661670f</definitionRefId>
											</xs:appinfo>
											<xs:documentation>
												EXPLANATION
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:normalizedString">
												<xs:enumeration value="Academic" />
												<xs:enumeration value="Functional" />
												<xs:enumeration value="Transitional" />
												<!-- is this the right list? tqii -->
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="standardsReference">
										<xs:annotation>
											<xs:appinfo>
												<elementName>
													Standards Reference
												</elementName>
												<sifChar>O</sifChar>
												<cedsId/>
												<cedsURL/>
<definitionRefId>b9969e5b-823f-43d9-9efd-fcb5c2170782</definitionRefId>
											</xs:appinfo>
											<xs:documentation>
												Reference for standard definition addressed by this goal
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="URI" type="xs:normalizedString" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Standards URI
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>d8cee3d6-ec81-42e2-93a4-64813005d82d</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Location of the definition of the standard
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="identifier" type="xs:normalizedString" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Identifier
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>4c4838ba-0d9a-474c-94ee-144bd29fbc62</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Identifier or name of the standard
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="measurableObjectiveList" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<elementName>
										Measurable Objective List
									</elementName>
									<sifChar>O</sifChar>
									<cedsId/>
									<cedsURL/>
<definitionRefId>da110056-de8a-4a21-8d19-a2f37444cb18</definitionRefId>
								</xs:appinfo>
								<xs:documentation>
									Objectives that will be achieved in the pursuit of this goal
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="measurableObjective">
										<xs:annotation>
											<xs:appinfo>
												<elementName>
													Measurable Objective
												</elementName>
												<sifChar>O</sifChar>
												<cedsId/>
												<cedsURL/>
<definitionRefId>6543a5c9-90dd-4305-8a08-57e80df35907</definitionRefId>
											</xs:appinfo>
											<xs:documentation>
												Specific objective that will be achieved in the pursuit of this goal
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="description" type="xs:normalizedString" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Description
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>9afb5d48-c2e1-4c6b-8d00-b97c60aab8cd</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Description of the practical appearance of the goal’s achievement
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="facilitatorList" minOccurs="1" maxOccurs="unbounded">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Facilitator List
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>37b30b94-986a-49fc-a66c-bf8169a0dfb5</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															List of people who will help the student achieve this goal
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="facilitator">
																<xs:annotation>
																	<xs:appinfo>
																		<elementName>
																			Facilitator
																		</elementName>
																		<sifChar>O</sifChar>
																		<cedsId/>
																		<cedsURL/>
<definitionRefId>0dd5bd68-3eb9-4be3-a63d-8801218c8f07</definitionRefId>
																	</xs:appinfo>
																	<xs:documentation>
																		Person who will help the student achieve this goal
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="identity" type="gStaffPersonType" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<elementName>
																						Identity
																					</elementName>
																					<sifChar>O</sifChar>
																					<cedsId/>
																					<cedsURL/>
<definitionRefId>804e41bd-e339-4fdf-8f23-41918155d5c5</definitionRefId>
																				</xs:appinfo>
																				<xs:documentation>
																					Facilitator Identity
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="contribution" type="xs:normalizedString" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<elementName>
																						Contribution
																					</elementName>
																					<sifChar>O</sifChar>
																					<cedsId/>
																					<cedsURL/>
<definitionRefId>e97afbab-e3aa-4b53-a751-1e81793440da</definitionRefId>
																				</xs:appinfo>
																				<xs:documentation>
																					The help this facilitor is asked to contribut to the achievement of this objective
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="measurement" minOccurs="1" maxOccurs="unbounded">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Measurement
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>e4c28b1b-b59e-4ac8-abdd-2877c5897fa8</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Definition of the way we will know the student has achieved the goal
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="criterion">
																<xs:annotation>
																	<xs:appinfo>
																		<elementName>
																			Criterion
																		</elementName>
																		<sifChar>O</sifChar>
																		<cedsId/>
																		<cedsURL/>
<definitionRefId>1ae44e99-0485-44eb-8bd3-7e076e9cc9a1</definitionRefId>
																	</xs:appinfo>
																	<xs:documentation>
																		Criterion used to determine success or progress toward mastering this objective
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="explanation" type="xs:normalizedString" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<elementName>
																						Explanation
																					</elementName>
																					<sifChar>O</sifChar>
																					<cedsId/>
																					<cedsURL/>
<definitionRefId>87285b28-d8dd-4a19-b33d-c4c008a4bd92</definitionRefId>
																				</xs:appinfo>
																				<xs:documentation>
																					Descriptor of the the process of evaluation of success
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="metric" minOccurs="1" maxOccurs="unbounded">
																			<xs:annotation>
																				<xs:appinfo>
																					<elementName>
																						Metric
																					</elementName>
																					<sifChar>O</sifChar>
																					<cedsId/>
																					<cedsURL/>
<definitionRefId>f41169ff-73e7-4d6b-866e-eff4f15be0d3</definitionRefId>
																				</xs:appinfo>
																				<xs:documentation>
																					Definition of the quantitative measurement by which success will be judged. Three structures are defined.
																				</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="accuracyPercentEvaluation" type="xs:integer" minOccurs="0">
																						<xs:annotation>
																							<xs:appinfo>
																								<elementName>
																									Accuracy Percent
																								</elementName>
																								<sifChar>O</sifChar>
																								<cedsId/>
																								<cedsURL/>
<definitionRefId>b3612f3f-b6f0-4529-87c8-541756b1fb4c</definitionRefId>
																							</xs:appinfo>
																							<xs:documentation>
																								The percent of correct results that will be considered to represent success
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="trialCountEvaluation" minOccurs="1" maxOccurs="unbounded">
																						<xs:annotation>
																							<xs:appinfo>
																								<elementName>
																									Trial Count Specification
																								</elementName>
																								<sifChar>O</sifChar>
																								<cedsId/>
																								<cedsURL/>
<definitionRefId>3670dcee-b180-4a6d-a418-9d023b4f1509</definitionRefId>
																							</xs:appinfo>
																							<xs:documentation>
																								Specifies minimum of trials and success threshold
																							</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="successCount" type="xs:integer" minOccurs="0">
																									<xs:annotation>
																										<xs:appinfo>
																											<elementName>
																												Success Count
																											</elementName>
																											<sifChar>O</sifChar>
																											<cedsId/>
																											<cedsURL/>
<definitionRefId>016e7c88-145b-4c4b-866f-baf695b4e529</definitionRefId>
																										</xs:appinfo>
																										<xs:documentation>
																											The percent of correct results that will be considered to represent success
																										</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="attemptCount" type="xs:integer" minOccurs="0">
																									<xs:annotation>
																										<xs:appinfo>
																											<elementName>
																												Attempt Count
																											</elementName>
																											<sifChar>O</sifChar>
																											<cedsId/>
																											<cedsURL/>
<definitionRefId>f4fe69d6-9cba-45dc-86ad-407a77218c13</definitionRefId>
																										</xs:appinfo>
																										<xs:documentation>
																											The number of attempts representing a completed trial
																										</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="otherEvaluation" type="xs:normalizedString" minOccurs="0">
																						<xs:annotation>
																							<xs:appinfo>
																								<elementName>
																									Other Evaluation Method
																								</elementName>
																								<sifChar>O</sifChar>
																								<cedsId/>
																								<cedsURL/>
<definitionRefId>f7a7cd71-8379-474e-85e6-baef2aa95399</definitionRefId>
																							</xs:appinfo>
																							<xs:documentation>
																								Description of other specific success measurement method
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="parentAcceptance" type="parentAcceptanceType" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Parent Acceptance
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>4b023834-03c0-41d3-b59f-d0fa950ba5ff</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Parental agreement (or disagreement) with judging objective based on specified criterion
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="independentActionsList" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<elementName>
										Independent Actions List
									</elementName>
									<sifChar>O</sifChar>
									<cedsId/>
									<cedsURL/>
<definitionRefId>d4e373fb-2c33-483a-9492-e562887f13bf</definitionRefId>
								</xs:appinfo>
								<xs:documentation>
									Activities or actions to be accomplished outside of a service context
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="independentAction" type="xs:normalizedString" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<elementName>
													Independent Action
												</elementName>
												<sifChar>O</sifChar>
												<cedsId/>
												<cedsURL/>
<definitionRefId>c0fff6d8-f25d-4b4e-9aa2-71cb1f7da905</definitionRefId>
											</xs:appinfo>
											<xs:documentation>
												Activity or action to be accomplished outside of a service context
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="servicesList" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<elementName>
										Service List
									</elementName>
									<sifChar>O</sifChar>
									<cedsId/>
									<cedsURL/>
<definitionRefId>6dda3e9f-afe9-44b9-a50e-ce3f80b8da8d</definitionRefId>
								</xs:appinfo>
								<xs:documentation>
									List of supporting resources required for student to achieve a goal
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="service">
										<xs:annotation>
											<xs:appinfo>
												<elementName>
													Service
												</elementName>
												<sifChar>O</sifChar>
												<cedsId/>
												<cedsURL/>
<definitionRefId>6a458f87-2a5e-4025-913d-0fb0620230b7</definitionRefId>
											</xs:appinfo>
											<xs:documentation>
												Support for student progress given by professional or para-professionals on a scheduled basis.
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="category" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Category
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>d10ecd43-4d6a-4400-b210-11f2d3ba139a</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Legal category of service
														</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:normalizedString">
															<xs:enumeration value="SpecialInstruction" />
															<xs:enumeration value="Speech" />
															<xs:enumeration value="Motor" />
															<xs:enumeration value="Counseling" />
															<xs:enumeration value="Vision/hearing" />
															<xs:enumeration value="Transportation" />
															<xs:enumeration value="InterpretingServices" />
															<xs:enumeration value="Orientation/mobility" />
															<xs:enumeration value="ParentTraining" />
															<!-- is this list correct? tqii -->
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="setting" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Setting
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>152a7b1d-691e-414e-93f0-7d6757b10f6f</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Where service will be rendered
														</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:normalizedString">
															<xs:enumeration value="General" />
															<xs:enumeration value="Special" />
															<!-- how to add other? tqii -->
															<!-- is this list correct? tqii -->
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="serviceProvider" minOccurs="1" maxOccurs="unbounded">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																ServiceProvider
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>0e9264b4-ff0e-4011-aa57-39ef0594a7df</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Identity and role of person rendering support services
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="identity" type="gStaffPersonType" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<elementName>
																			Identity
																		</elementName>
																		<sifChar>O</sifChar>
																		<cedsId/>
																		<cedsURL/>
<definitionRefId>0a77dcf2-5895-42b4-b547-f1e9101ea9be</definitionRefId>
																	</xs:appinfo>
																	<xs:documentation>
																		Service Provider Identity
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="role" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<elementName>
																			Role
																		</elementName>
																		<sifChar>O</sifChar>
																		<cedsId/>
																		<cedsURL/>
<definitionRefId>05e2d887-6dbf-4bfb-bd91-f050b818f106</definitionRefId>
																	</xs:appinfo>
																	<xs:documentation>
																		Professional specialty applicable to the support of this goal.
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:normalizedString">
																		<xs:enumeration value="Counselor" />
																		<xs:enumeration value="ReadingSpecialist" />
																		<!-- is this list correct? tqii -->
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="frequency" minOccurs="1" maxOccurs="unbounded">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Frequency
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>56432805-5753-4e35-bfbc-af81e7bc7f4b</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Prescription for amount of service to be given.
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="cycle" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<elementName>
																			Cycle
																		</elementName>
																		<sifChar>O</sifChar>
																		<cedsId/>
																		<cedsURL/>
<definitionRefId>b3f22600-8500-42dd-b18b-40854b421f94</definitionRefId>
																	</xs:appinfo>
																	<xs:documentation>
																		How often service must be rendered
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:normalizedString">
																		<xs:enumeration value="5Day" />
																		<xs:enumeration value="6Day" />
																		<xs:enumeration value="10Day" />
																		<!-- How to add 'other'? tqii -->
																		<!-- is this list correct? tqii -->
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="duration" minOccurs="1" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:appinfo>
																		<elementName>
																			Duration
																		</elementName>
																		<sifChar>O</sifChar>
																		<cedsId/>
																		<cedsURL/>
<definitionRefId>ed5ded33-922e-48c9-97de-4a546187ba53</definitionRefId>
																	</xs:appinfo>
																	<xs:documentation>
																		Amount of time during cycle that student receives service
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="directMinutes" type="xs:integer" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<elementName>
																						Direct Minutes
																					</elementName>
																					<sifChar>O</sifChar>
																					<cedsId/>
																					<cedsURL/>
<definitionRefId>feb7251a-8e93-48fa-b05e-ec33495015a5</definitionRefId>
																				</xs:appinfo>
																				<xs:documentation>
																					Time spent directly with the student.
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="indirectMinutes" type="xs:integer" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<elementName>
																						Indirect Minutes
																					</elementName>
																					<sifChar>O</sifChar>
																					<cedsId/>
																					<cedsURL/>
<definitionRefId>2f9a640d-6502-42aa-8c77-4e3612cc4bbf</definitionRefId>
																				</xs:appinfo>
																				<xs:documentation>
																					Service provider time spent on other service activities that are not with the student.
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="startDate" type="xs:normalizedString" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Start Date
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>78adc225-ba26-433a-ba14-2642690d888a</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Date that work toward this goal will commence.
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="endDate" type="xs:normalizedString" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																End Date
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>097d92f3-4319-4672-8d12-d06aeda8af37</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Date that work toward this goal will end.
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="nonParticipationReason" type="xs:normalizedString" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Non-Participation Reason
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>f6e6860b-7d37-4083-bf45-d44b9a02e5d4</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Reason that student did not participate in this service.
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="extendsSchoolYEar" type="xs:boolean" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Extends School Year
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>0c6d36dc-df7b-463b-baf1-1f9fe810b4f6</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Determination if this service continues outside school year.
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="progressReportList" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<elementName>
										Progress Report List
									</elementName>
									<sifChar>O</sifChar>
									<cedsId/>
									<cedsURL/>
<definitionRefId>8b62dd71-8371-48fc-b143-20fc395f7827</definitionRefId>
								</xs:appinfo>
								<xs:documentation>
									Overall progress toward achievement of the goal
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="progressReport">
										<xs:annotation>
											<xs:appinfo>
												<elementName>
													Progress Report
												</elementName>
												<sifChar>O</sifChar>
												<cedsId/>
												<cedsURL/>
<definitionRefId>5a3ece79-9cea-4cc5-bed3-c5a37ae4cbec</definitionRefId>
											</xs:appinfo>
											<xs:documentation>
												Progress reported at a specific time
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="explanation" type="xs:normalizedString" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Explanation
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>8d48e2cc-a95d-44ec-93fa-02167654773e</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Descriptive evaluation of student’s current progress
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="measurement" minOccurs="1" maxOccurs="unbounded">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Progress Measurement
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>335317fe-8673-4c34-897e-e61ddc334557</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Quantitative data supporting the student’s progress evaluation
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="explanation" type="xs:normalizedString" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<elementName>
																			Explanation
																		</elementName>
																		<sifChar>O</sifChar>
																		<cedsId/>
																		<cedsURL/>
<definitionRefId>f0d2c8e0-3a21-428f-b9fe-7f4c87ed09e3</definitionRefId>
																	</xs:appinfo>
																	<xs:documentation>
																		Explanation of measurement process and importance of data that was measured.
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="dataNames">
																<xs:annotation>
																	<xs:appinfo>
																		<elementName>
																			Data Names
																		</elementName>
																		<sifChar>O</sifChar>
																		<cedsId/>
																		<cedsURL/>
<definitionRefId>dbe2e27f-2eb9-4e01-ac0b-0400c2db394d</definitionRefId>
																	</xs:appinfo>
																	<xs:documentation>
																		Meaning of data values
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="categoryName" type="xs:normalizedString" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<elementName>
																						Category Name
																					</elementName>
																					<sifChar>O</sifChar>
																					<cedsId/>
																					<cedsURL/>
<definitionRefId>daf980bf-ea3f-43ed-9867-77f9727074a7</definitionRefId>
																				</xs:appinfo>
																				<xs:documentation>
																					Label that assigns meaning to the categories that were measured (eg, x-axis label)
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="valueName" type="xs:normalizedString" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<elementName>
																						Value Name
																					</elementName>
																					<sifChar>O</sifChar>
																					<cedsId/>
																					<cedsURL/>
<definitionRefId>aa30f745-3e17-4586-bd59-c68822439719</definitionRefId>
																				</xs:appinfo>
																				<xs:documentation>
																					Label that assigns meaning to a chart display of a measured value (eg, y-axis label)
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="dataValuesList" minOccurs="1" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:appinfo>
																		<elementName>
																			Data Value List
																		</elementName>
																		<sifChar>O</sifChar>
																		<cedsId/>
																		<cedsURL/>
<definitionRefId>316ead0e-bc6f-4bd3-b0aa-ae8e640ddc4d</definitionRefId>
																	</xs:appinfo>
																	<xs:documentation>
																		Data pairs representing measurements of student performance relative to progress on this goal
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="dataValue">
																			<xs:annotation>
																				<xs:appinfo>
																					<elementName>
																						Data Value
																					</elementName>
																					<sifChar>O</sifChar>
																					<cedsId/>
																					<cedsURL/>
<definitionRefId>02e7799a-c2e4-4f79-8a75-4eb3472de355</definitionRefId>
																				</xs:appinfo>
																				<xs:documentation>
																					A measurement of student performance
																				</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="category" type="xs:integer" minOccurs="0">
																						<xs:annotation>
																							<xs:appinfo>
																								<elementName>
																									Category
																								</elementName>
																								<sifChar>O</sifChar>
																								<cedsId/>
																								<cedsURL/>
<definitionRefId>7f2bcdba-96f2-4527-b0f1-304e7719ae61</definitionRefId>
																							</xs:appinfo>
																							<xs:documentation>
																								Thing being measured
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="value" type="xs:integer" minOccurs="0">
																						<xs:annotation>
																							<xs:appinfo>
																								<elementName>
																									Value
																								</elementName>
																								<sifChar>O</sifChar>
																								<cedsId/>
																								<cedsURL/>
<definitionRefId>47f55802-3cf8-4951-adc1-a1e5588bb2c2</definitionRefId>
																							</xs:appinfo>
																							<xs:documentation>
																								Measurement
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="determination" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>
																Determination
															</elementName>
															<sifChar>O</sifChar>
															<cedsId/>
															<cedsURL/>
<definitionRefId>f7030eab-10f4-4570-aa5c-4ec3f0afacd3</definitionRefId>
														</xs:appinfo>
														<xs:documentation>
															Judgment on progress made toward goal at this time
														</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:normalizedString">
															<xs:enumeration value="MakingExpectedProgress" />
															<xs:enumeration value="NotMakingExpectedProgress" />
															<xs:enumeration value="Complete" />
															<!-- is this list correct? tqii -->
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="date" type="xs:date" minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- SHARED TYPE -->
	<xs:complexType name="parentAcceptanceType">
		<xs:annotation>
			<xs:appinfo>
				<elementName>
					Parent Acceptance Type
				</elementName>
				<events>no</events>
				<isSIFObject>yes</isSIFObject>
				<cedsId/>
				<cedsURL/>
<definitionRefId>d2a1075f-1da3-4e63-ad22-5dbf8252e198</definitionRefId>
			</xs:appinfo>
			<xs:documentation>
				Simple Yes/No and explanation for indicating assent or rejection
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gOtherSIFType">
				<xs:sequence>
					<xs:element name="accepted" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									Accepts
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
<definitionRefId>a86999db-6823-401c-9d89-7c1aad6206e2</definitionRefId>
							</xs:appinfo>
							<xs:documentation>
								Item is acceptable to parent
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="comment" type="xs:normalizedString" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									Comment
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
<definitionRefId>b7b7e385-98ab-41d7-ac7d-230137c04b20</definitionRefId>
							</xs:appinfo>
							<xs:documentation>
								Comment on item and acceptance or rejection
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>