Report/specialEducation/SIFNASpecialEducationEligibility.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../../Composite/SIFNAxPressCommonTypes.xsd" />
	<xs:include schemaLocation="../../Composite/SIFNAxPress.xsd" />
	<xs:complexType name="xSpecialEducationEligibilityType">
		<xs:annotation>
			<xs:appinfo>
				<elementName>Eligibility</elementName>
				<events>no</events>
				<isSIFObject>yes</isSIFObject>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation>
				Information about a student's need and eligibility for special education services.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gOtherSIFType">
				<xs:sequence>
					<xs:element name="background" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									Background
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
							</xs:appinfo>
							<xs:documentation>
								Information and history establishing context of student evaluation for Special Education services
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="referral">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="explanation" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Explanation of the Need for Evaluation
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Explanation of observations and issues that motivate the request for evaluation
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="referrer">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="identity" type="xs:date" minOccurs="0">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Identity of Person Who Referred Student for Evaluation
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId/>
																	<cedsURL/>
																</xs:appinfo>
																<xs:documentation>
																	Parent or official referring student for evaluation
																</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="date" type="xs:date" minOccurs="0">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Date Referral to Evaluate was Made
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId/>
																	<cedsURL/>
																</xs:appinfo>
																<xs:documentation>
																	Date Referral to Evaluate was Made
																</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="history" type="xs:normalizedString" minOccurs="0">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Explanation of Historical Factors Justifying Evaluation
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
										</xs:appinfo>
										<xs:documentation>
											Historical information significant to special education evaluation
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="currentPlacement" type="xs:normalizedString" minOccurs="0">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Current Placement
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
										</xs:appinfo>
										<xs:documentation>
											Description of the current placement of student
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="parentObservations" type="xs:normalizedString" minOccurs="0">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Parent Observations
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
										</xs:appinfo>
										<xs:documentation>
											Parent explanation of student’s characteristics and history
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="consentToEvaluation" minOccurs="1" maxOccurs="unbounded">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Consent to Evaluate
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
										</xs:appinfo>
										<xs:documentation>
											Legal authorization to conduct evaluation
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="accepted" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName> Accepted </elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Indication of parental agreement to evaluate student.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="identity" type="xSpecialEducationAuthorizingPersonType" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Identity of Consenting Person
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Identity of Consenting Person
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="evaluationResultList" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									Evaluation Results
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
							</xs:appinfo>
							<xs:documentation>
								List of the results of evaluations of the student
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="evaluationResult" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Evaluation Result
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
										</xs:appinfo>
										<xs:documentation>
											Results of one specific evaluation.
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="explanation" type="xs:normalizedString">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Evaluation Result Explanation
														</elementName>
														<sifChar>M</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Description of evaluation procedure and nature of the result
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="type" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>Evaluation Type</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>Category of evaluation</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:normalizedString">
														<xs:enumeration value="Academic" />
														<xs:enumeration value="Preacademic" />
														<xs:enumeration value="Behavior" />
														<xs:enumeration value="Adaptive" />
														<xs:enumeration value="Transition" />
														<xs:enumeration value="Communication" />
														<xs:enumeration value="Motor" />
														<xs:enumeration value="Hearing" />
														<xs:enumeration value="Vision" />
														<xs:enumeration value="Medical" />
														<xs:enumeration value="Language" />
														<!-- HOW DO I ALLOW FOR "OTHER" ? tqii -->
														<!-- IS THIS THE RIGHT LIST? tqii -->
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="date" type="xs:date" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Date of Evaluation
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>Tee date when the evaluation was conducted.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="lifecyclePurpose" nillable="true" minOccurs="1">
												<xs:annotation>
													<xs:appinfo>
														<elementName>Lifecycle Purpose of Evaluation</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>IEP lifecycle evaluation purpose</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:normalizedString">
														<xs:enumeration value="Initial" />
														<xs:enumeration value="Reevaluation" />
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ideaDisability" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									IDEA Disability Determination
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
							</xs:appinfo>
							<xs:documentation>
								Formal presentation of factors leading to conclusion that IDEA disability had been found or not
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="disabilityCodeList" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Disability Code List
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
										</xs:appinfo>
										<xs:documentation>
											List of legal identifiers for disabilities found.
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="disabilityCode" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Disability Code
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Legal identifier for one specific disability found.
													</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:normalizedString">
														<xs:enumeration value="none" />
														<xs:enumeration value="Autism" />
														<xs:enumeration value="DeafBlindness" />
														<xs:enumeration value="DevelopmentalDelay" />
														<xs:enumeration value="EmotionalDisability" />
														<xs:enumeration value="HearingImpairment" />
														<xs:enumeration value="IntellectualDisability" />
														<xs:enumeration value="MultipleDisabilities" />
														<xs:enumeration value="OrthopedicImpairment" />
														<xs:enumeration value="OtherHealthImpairment" />
														<xs:enumeration value="SpeechorLanguageImpairment" />
														<xs:enumeration value="TraumaticBrainInjury" />
														<xs:enumeration value="VisualImpairmentincludingBlindness" />
														<xs:enumeration value="SPECIFICLEARNINGDISABILITY" />
														<xs:enumeration value="TEAMOVERRIDE" />
														<!-- IS THIS THE RIGHT LIST? tqii -->
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="analysis" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:appinfo>
											<sifChar>OR</sifChar>
											<cedsId/>
											<cedsURL/>
										</xs:appinfo>
										<xs:documentation/>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="adverseEffects" type="xs:normalizedString">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Evaluation Result Explanation
														</elementName>
														<sifChar>M</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Discussion of the educational problems that result from the disability
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="educationNeeds" type="xs:normalizedString">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Evaluation Result Explanation
														</elementName>
														<sifChar>M</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Description of the overall changes needed for the student’s educational program
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="otherInformation" type="xs:normalizedString">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Evaluation Result Explanation
														</elementName>
														<sifChar>M</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Additional information that explains how to improve the student’s educational outcome.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="SpecialDiagnosisJustifications">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="specificLearningDisability" minOccurs="1" maxOccurs="1">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Justification for Specific Learning Disability
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														CEDS: Information supporting disability code ‘specific learning disability’
													</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="primaryCauseExclusions" minOccurs="1" maxOccurs="1">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Primary Cause Exclusions
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId/>
																	<cedsURL/>
																</xs:appinfo>
																<xs:documentation>
																	Proof that the disability is not the the result of disqualified causes and is qualified for funding
																</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="determinantFactors">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Determinant Factors
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
																			</xs:appinfo>
																			<xs:documentation>
																				Conditions whose presence disqualifies student from special education programs
																			</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="insufficientMath" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Insufficient Math Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
																						</xs:appinfo>
																						<xs:documentation>
																							Insufficient Math Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="insufficientReading" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Insufficient Reading Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
																						</xs:appinfo>
																						<xs:documentation>
																							Insufficient Reading Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="insufficientEnglish" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Insufficient English Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
																						</xs:appinfo>
																						<xs:documentation>
																							Insufficient English Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="visualHearingOrMotorDisability" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Visual, Hearing Or Motor Disability Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
																						</xs:appinfo>
																						<xs:documentation>
																							Visual, Hearing Or Motor Disability Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="intellectualDisability" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Intellectual Disability Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
																						</xs:appinfo>
																						<xs:documentation>
																							Intellectual Disability Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="emotionalDisability" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Emotional Disability Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
																						</xs:appinfo>
																						<xs:documentation>
																							Emotional Disability Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="culturalFactors" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Cultural Factors Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
																						</xs:appinfo>
																						<xs:documentation>
																							Cultural Factors Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="environmentalOrEconomicDisadvantage" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Environmental Or Economic Disadvantage Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
																						</xs:appinfo>
																						<xs:documentation>
																							Environmental Or Economic Disadvantage Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="limitedEnglishProficiency" type="xs:normalizedString" minOccurs="0">
																					<xs:annotation>
																						<xs:appinfo>
																							<elementName>
																								Limited English Proficiency Found
																							</elementName>
																							<sifChar>O</sifChar>
																							<cedsId/>
																							<cedsURL/>
																						</xs:appinfo>
																						<xs:documentation>
																							Limited English Proficiency Found
																						</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="medicalExplanation" type="xs:normalizedString" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Medical Reasons Against Exclusions
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
																			</xs:appinfo>
																			<xs:documentation>
																				Medical reasons for determination that a potentially excluded factor is actually a disability
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="otherFactorsExplanation" type="xs:normalizedString" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Other Reasons Against Exclusion
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
																			</xs:appinfo>
																			<xs:documentation>
																				Other reasons that student should not be excluded from special education programs
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="lackOfAdequateAchievementExplanation" type="xs:normalizedString" minOccurs="0">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Lack of Adequate Achievement Explanation
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId/>
																	<cedsURL/>
																</xs:appinfo>
																<xs:documentation>
																	Description the specific educational shortcomings that lead to a disability diagnosis
																</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="learningSettingObservations" type="xs:normalizedString" minOccurs="0">
															<xs:annotation>
																<xs:appinfo>
																	<elementName>
																		Learning Setting Observations
																	</elementName>
																	<sifChar>O</sifChar>
																	<cedsId/>
																	<cedsURL/>
																</xs:appinfo>
																<xs:documentation>
																	Observations about the student’s performance in a practical learning setting
																</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="decisions" minOccurs="1" maxOccurs="1">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="severeDiscrepancyFound" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Severe Discrepancy Found
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
																			</xs:appinfo>
																			<xs:documentation>
																				Determination that there is a severe discrepancy between standard educational attainment and student performance
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="InsufficientResponseToInterventionFound" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Insufficient Response to Intervention
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
																			</xs:appinfo>
																			<xs:documentation>
																				Determination that student has not responded to intervention
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="eligibleForSpecificLearningDisabilityFinding" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:appinfo>
																				<elementName>
																					Eligible
																				</elementName>
																				<sifChar>O</sifChar>
																				<cedsId/>
																				<cedsURL/>
																			</xs:appinfo>
																			<xs:documentation>
																				Determination that this student is eligible for special education
																			</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="TeamOverride" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Justification for Team Override
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Information supporting the disability code ‘Team Override’
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="decisions">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="specificDisabilityIdentified" type="xs:boolean" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Specific Disability Exists
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Official determination that a specific disability exists
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="adverseEffectIdentified" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Adverse Effects Found
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Official determination that the disability has adverse effects
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="eligible" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Student is Eligible
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Official determination that the student is eligible for an IEP
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="participantReportList" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<elementName>
									Participant Reports
								</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL/>
							</xs:appinfo>
							<xs:documentation>
								Documentation produced by people who have participated in the eligibility determination
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="participantReport" minOccurs="1" maxOccurs="1">
									<xs:annotation>
										<xs:appinfo>
											<elementName>
												Evaluation Report
											</elementName>
											<sifChar>O</sifChar>
											<cedsId/>
											<cedsURL/>
										</xs:appinfo>
										<xs:documentation>
											Reports and comments by participants in the eligibility study
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="authorization" type="xSpecialEducationAuthorizingPersonType" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Report Author
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Proved identity of report author
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="role" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Role
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Professional occupation category or relationship to student
													</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Parent" type="xs:string" />
														<xs:element name="Student" type="xs:string" />
														<xs:element name="LEARep" type="xs:string" />
														<xs:element name="GeneralEdTeacher" type="xs:string" />
														<xs:element name="SpecialEdTeacher" type="xs:string" />
														<xs:element name="SchoolPsychologist" type="xs:string" />
														<xs:element name="SchoolSocialWorker" type="xs:string" />
														<xs:element name="SpeechLanguagePathologist" type="xs:string" />
														<xs:element name="BilingualSpecialist" type="xs:string" />
														<xs:element name="Physician" type="xs:string" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="procedures" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Procedures
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														What the participant did with the student
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="observations" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Observations
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														What the participant observed during evaluation
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="conclusions" type="xs:normalizedString" minOccurs="0">
												<xs:annotation>
													<xs:appinfo>
														<elementName>
															Conclusions
														</elementName>
														<sifChar>O</sifChar>
														<cedsId/>
														<cedsURL/>
													</xs:appinfo>
													<xs:documentation>
														Conclusions reached as a result of the evaluation
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>