Report/specialEducation/SIFNASpecialEducationCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="../../Composite/SIFNAxPressCommonTypes.xsd" />
    <xs:include schemaLocation="../../Composite/SIFNAxPress.xsd" />
    <!--ParentGuardianList is used elsewhere as an element. It could (should) be revised to refer to this *identical* type. tqii-->
    <xs:complexType name="xParentGuardianListType">
        <xs:complexContent>
            <xs:extension base="gOtherSIFType">
                <xs:sequence>
                    <xs:element name="parentGuardianList" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="parentGuardian" type="xParentGuardianType" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="xParentGuardianType">
        <xs:complexContent>
            <xs:extension base="gOtherSIFType">
                <xs:sequence>
                    <xs:element name="parentGuardian" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo>
                                <elementName/>
                                <sifChar>OR</sifChar>/>
                                <cedsId/>
                                <cedsURL/>
                                <definitionRefId>8c2eebb0-0346-4734-bde3-0f1ceceea57d</definitionRefId>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="firstName" type="xs:normalizedString" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>FirstName</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000115</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3115</cedsURL>
                                            <definitionRefId>6a652619-034c-4be5-bdfd-5c93d24ffbe2</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>The full legal first name given to a person at birth, baptism, or through legal change.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="middleName" type="xs:normalizedString" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>MiddleName</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000184</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3184</cedsURL>
                                            <definitionRefId>22055f7b-752d-4b56-95bd-bf0485cf357b</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>A full legal middle name given to a person at birth, baptism, or through legal change.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="lastName" type="xs:token" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>Last Or Surname</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000172</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3172</cedsURL>
                                            <definitionRefId>ce06baaa-e9f9-421c-b9c1-b3162d297dd7</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>The full legal last name borne in common by members of a family.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="suffix" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>Suffix</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000121</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3121</cedsURL>
                                            <definitionRefId>200e6e18-8982-41ab-82df-e06f4bb9d4fc</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>An appendage, if any, used to denote a person's generation in his family (e.g., Jr., Sr., III).</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="gender" type="gSexusType" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>Sex</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000255</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3255</cedsURL>
                                            <definitionRefId>43cc815f-0e98-4dfd-9013-331318dda056</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>The concept describing the biological traits that distinguish the males and females of a species.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="relationship" type="gLaxCodedElementType" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>PersonRelationshipToLearnerType</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000425</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3415</cedsURL>
                                            <definitionRefId>22e95ebc-a503-4f38-8fd5-0f29c3ac7e86</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>The nature of the person's relationship to a learner. The learner may be an Early Learning Child, K12 Student, Postsecondary Student, or an adult learner in a workforce education program.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="streetAddress1" type="xs:normalizedString" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>AddressStreetNumberAndName</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000269</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3269</cedsURL>
                                            <definitionRefId>e4d448b2-d396-4986-b307-c17c7818e206</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>The street number and street name or post office box number of an address.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="streetAddress2" type="xs:normalizedString" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName/>
                                            <sifChar>O</sifChar>
                                            <cedsId>000000</cedsId>
                                            <cedsURL/>
                                            <definitionRefId>30838405-67cf-4dd3-ad18-f100323d3ea3</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>Additional address information needed to locate a place of residence, including appartment or room numbers.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="city" type="xs:normalizedString" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>AddressCity</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000040</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3040</cedsURL>
                                            <definitionRefId>81bf0628-292b-46a7-8477-4c43ffdae2ed</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>The name of the city in which an address is located.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="stateProvince" type="gStateProvinceType" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>EmploymentLocationStateAbbreviation</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000990</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3992</cedsURL>
                                            <definitionRefId>f2e5a427-4bfa-491f-9825-0672655b58f3</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation> The identifier for this entity as assigned by a government authority (typically state or province in a federal system, national in a centralized system).</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="postalCode" type="xs:token" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>AddressPostalCode</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000214</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3214</cedsURL>
                                            <definitionRefId>04f98d1f-7779-46e8-8b4c-77a4466e5037</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation> A number that identifies each postal delivery area in a country used as a portion of an address</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="primaryContactPhoneNumber" type="gPhoneNumberType" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <elementName>TelephoneNumber</elementName>
                                            <sifChar>O</sifChar>
                                            <cedsId>000279,000167,000219</cedsId>
                                            <cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3279</cedsURL>
                                            <definitionRefId>b1c63eb4-4761-4c62-8cc7-a06daa2e3561</definitionRefId>
                                        </xs:appinfo>
                                        <xs:documentation>Primary contact information for the person</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="xSpecialEducationAuthorizingPersonType">
        <xs:annotation>
            <xs:appinfo>
                <elementName>
                    Authorization
                </elementName>
                <events>no</events>
                <isSIFObject>yes</isSIFObject>
                <cedsId/>
                <cedsURL/>
                <definitionRefId>b4512e48-2ff9-41cf-8433-428ca1b9d1d8</definitionRefId>
            </xs:appinfo>
            <xs:documentation>
                Proved Identity Information
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gOtherSIFType">
                <xs:sequence>
                    <xs:element name="identity" type="xs:normalizedString" minOccurs="0" />
                    <xs:element name="certification" type="xs:normalizedString" minOccurs="0" />
                    <xs:element name="date" type="xs:date" minOccurs="0" />
                    <xs:element name="contactInfo" type="xs:normalizedString" minOccurs="0" />
                    <xs:element name="intrinsicRole" type="xs:normalizedString" minOccurs="0" />
                    <!-- teacher, parent, doctor, principal -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>