Composite/SIFNAxPress.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by Matt Harris (CDS) -->
<!-- SIF xPress Object Definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="undefined" elementFormDefault="qualified">
	<xs:include schemaLocation="../SIFglobal.xsd"/>
	<xs:include schemaLocation="../Entity/SIFNAxPressCommonTypes.xsd"/>
	<!--<xs:include schemaLocation="../Entity/SIFNAxPressCommonTypes-NoValueSets.xsd"/> -->
	<xs:complexType name="xStudentType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType"/>
					<xs:element name="otherNames" type="sOtherPersonNameListType"/>
					<xs:element name="localId" type="sPersonIdType"/>
					<xs:element name="stateProvinceId" type="sPersonIdType"/>
					<xs:element name="loginId" type="sLoginIdType"/>
					<xs:element name="otherIds" type="sOtherPersonIdListType"/>
					<xs:element name="address" type="sPersonAddressType"/>
					<xs:element name="phoneNumber" type="sTelephoneType"/>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType"/>
					<xs:element name="email" type="sEmailType"/>
					<xs:element name="otherEmails" type="sEmailListType"/>
					<xs:element name="demographics" type="sDemographicsType"/>
					<xs:element name="enrollment" type="sEnrollmentType"/>
					<xs:element name="otherEnrollments" type="sEnrollmentListType"/>
					<xs:element name="academicSummary" type="sAcademicSummaryType"/>
					<xs:element name="studentContacts" type="sStudentContactListType"/>
					<xs:element name="languages" type="sLanguageListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStudent" type="xStudentType"/>
	<xs:complexType name="xStaffType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType"/>
					<xs:element name="localId" type="sPersonIdType"/>
					<xs:element name="stateProvinceId" type="sPersonIdType" minOccurs="0"/>
					<xs:element name="loginId" type="sLoginIdType"/>
					<xs:element name="otherIds" type="sOtherPersonIdListType"/>
					<xs:element name="sexus" type="sSexType"/>
					<xs:element name="email" type="sEmailType"/>
					<xs:element name="primaryAssignment" type="sStaffPersonAssignmentType"/>
					<xs:element name="otherAssignments" type="sStaffPersonAssignmentListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStaff" type="xStaffType"/>
	<xs:element name="xContact" type="xContactType"/>
	<xs:complexType name="xCourseType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType"/>
					<xs:element name="schoolCourseId" type="sCourseIdType"/>
					<xs:element name="leaCourseId" type="sCourseIdType"/>
					<xs:element name="otherIds" type="sOtherCourseIdListType"/>
					<xs:element name="courseTitle" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000067</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:normalizedString">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000517</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000517</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="sSubjectType"/>
					<xs:element name="applicableEducationLevels" type="sApplicableEducationLevelListType"/>
					<xs:element name="scedCourseCode" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>001517</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001517</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseLevelCode" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>001516</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001516</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseSubjectAreaCode" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>001518</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001518</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCourse" type="xCourseType"/>
	<xs:complexType name="xSchoolType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="leaRefId" type="gRefIdPointerType"/>
					<xs:element name="localId" type="sOrganizationIdType"/>
					<xs:element name="stateProvinceId" type="sOrganizationIdType"/>
					<xs:element name="otherIds" type="sOtherOrganizationIdListType"/>
					<xs:element name="schoolName" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000191</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000191</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="yearGroups" type="sYearGroupListType"/>
					<xs:element name="address" type="sOrganizationAddressType"/>
					<xs:element name="phoneNumber" type="sTelephoneType"/>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xSchool" type="xSchoolType"/>
	<xs:complexType name="xCalendarType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType"/>
					<xs:element name="schoolYear" type="sSchoolYearType"/>
					<xs:element name="sessions" type="sSessionListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCalendar" type="xCalendarType"/>
	<xs:complexType name="xRosterType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="courseRefId" type="gRefIdPointerType"/>
					<xs:element name="courseTitle" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000067</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sectionRefId" type="gRefIdPointerType"/>
					<xs:element name="subject" type="sSubjectType"/>
					<xs:element name="schoolRefId" type="gRefIdPointerType"/>
					<xs:element name="schoolSectionId" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000978</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000978</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolYear" type="sSchoolYearType"/>
					<xs:element name="sessionCode" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000252</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000252</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolCalendarRefId" type="gRefIdPointerType"/>
					<xs:element name="timeTableDay" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000523</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000523</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="classMeetingDays" type="sDayListType">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000521</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000521</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="timeTablePeriod" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000522</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000522</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="roomNumber" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000364</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000364</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="classBeginningTime" type="xs:time">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000519</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000519</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="classEndingTime" type="xs:time">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000520</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000520</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="students" type="sStudentReferenceListType"/>
					<xs:element name="primaryStaff" type="sStaffReferenceType"/>
					<xs:element name="otherStaff" type="sStaffReferenceListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xRoster" type="xRosterType"/>
	<xs:complexType name="xLeaType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="localId" type="sOrganizationIdType"/>
					<xs:element name="leaRefId" type="gRefIdPointerType"/>
					<xs:element name="stateProvinceId" type="sOrganizationIdType"/>
					<xs:element name="ncesId" type="sOrganizationIdType"/>
					<xs:element name="leaName" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000204</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000204</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sOrganizationAddressType"/>
					<xs:element name="phoneNumber" type="sTelephoneType"/>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xLea" type="xLeaType"/>
</xs:schema>
