Composite/SIFNAxPress.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- SIF xPress Object Definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="undefined" elementFormDefault="qualified">
	<xs:include schemaLocation="../SIFglobal.xsd"/>
	<xs:include schemaLocation="SIFNAxPressCommonTypes.xsd"/>
	<xs:complexType name="xStudentType">
		<xs:annotation>
			<xs:appinfo>
				<elementName>xStudent Type</elementName>
				<events>yes</events>
				<isSIFObject>yes</isSIFObject>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Name</elementName>
								<sifChar>R</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Name of Student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherNames" type="sOtherPersonNameListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Names of Student</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sPersonIdType">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Local Id</elementName>
								<sifChar>001071</sifChar>
								<cedsId>R</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001071</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sPersonIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>State-Province Id</elementName>
								<sifChar>O</sifChar>
								<cedsId>001071</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001071</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherPersonIdListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Ids</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sPersonAddressType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Address</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Phone Number</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Phone Numbers</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="sEmailType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Email</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherEmails" type="sEmailListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Emails</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="demographics" type="sDemographicsType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Demographics</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="enrollment" type="sEnrollmentType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Enrollment</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherEnrollments" type="sEnrollmentListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Enrollments</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="academicSummary" type="sAcademicSummaryType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Academic Summary</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="studentContacts" type="sStudentContactListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Student Contacts</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="languages" type="sLanguageListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Languages</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStudent" type="xStudentType"/>
	<xs:complexType name="xStaffType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sPersonIdType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sPersonIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherPersonIdListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="sex" type="sSexType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="sEmailType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryAssignment" type="sStaffPersonAssignmentType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherAssignments" type="sStaffPersonAssignmentListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStaff" type="xStaffType"/>
	<xs:complexType name="xContactType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherNames" type="sOtherPersonNameListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sPersonIdType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherPersonIdListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sPersonAddressType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="sEmailType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherEmails" type="sEmailListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="sex" type="sSexType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="employerType" type="sEmployerType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="relationships" type="sContactStudentRelationshipListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xContact" type="xContactType"/>
	<xs:complexType name="xCourseType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolCourseId" type="sCourseIdType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="leaCourseId" type="sCourseIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherCourseIdListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="courseTitle" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Course Title</elementName>
								<sifChar/>
								<cedsId>000067</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:normalizedString" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Description</elementName>
								<sifChar/>
								<cedsId>000517</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000517</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="sSubjectType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="applicableEducationLevels" type="sApplicableEducationLevelListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseCode" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>SCED Course Code</elementName>
								<sifChar/>
								<cedsId>001517</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001517</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseLevelCode" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>SCED Course Level Code</elementName>
								<sifChar/>
								<cedsId>001516</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001516</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseSubjectAreaCode" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>SCED Course Subject Area Code</elementName>
								<sifChar/>
								<cedsId>001518</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001518</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCourse" type="xCourseType"/>
	<xs:complexType name="xSchoolType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="leaRefId" type="gRefIdPointerType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherOrganizationIdListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolName" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School Name</elementName>
								<sifChar/>
								<cedsId>000191</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000191</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="yearGroups" type="sYearGroupListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sOrganizationAddressType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xSchool" type="xSchoolType"/>
	<xs:complexType name="xCalendarType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolYear" type="sSchoolYearType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="sessions" type="sSessionListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCalendar" type="xCalendarType"/>
	<xs:complexType name="xRosterType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="courseRefId" type="gRefIdPointerType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="courseTitle" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Course Title</elementName>
								<sifChar/>
								<cedsId>000067</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="sectionRefId" type="gRefIdPointerType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="sSubjectType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolRefId" type="gRefIdPointerType">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolSectionId" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School Section Id</elementName>
								<sifChar/>
								<cedsId>000978</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000978</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolYear" type="sSchoolYearType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="sessionCode" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Session Code</elementName>
								<sifChar/>
								<cedsId>000252</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000252</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolCalendarRefId" type="gRefIdPointerType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="meetingTimes" type="sMeetingTimeListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="students" type="sStudentReferenceListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryStaff" type="sStaffReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherStaffs" type="sStaffReferenceListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xRoster" type="xRosterType"/>
	<xs:complexType name="xLeaType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="localId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="leaRefId" type="gRefIdPointerType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="ncesId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="leaName" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<elementName>LEA Name</elementName>
								<sifChar/>
								<cedsId>000204</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000204</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sOrganizationAddressType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Organization Address Type</elementName>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xLea" type="xLeaType"/>
</xs:schema>
