Composite/SIFNAxPress.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- SIF xPress Object Definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="undefined" elementFormDefault="qualified">
	<xs:include schemaLocation="../SIFglobal.xsd"/>
	<xs:include schemaLocation="SIFNAxPressCommonTypes.xsd"/>
	<xs:complexType name="xStudentType">
		<xs:annotation>
			<xs:appinfo>
				<elementName>xStudent Type</elementName>
				<events>yes</events>
				<isSIFObject>yes</isSIFObject>
				<cedsId/>
				<cedsURL/>
				<servicePaths>
					<servicePath>
						<path>xLeas/{}/xStudents</path>
						<description>Returns information for all students associated with the LEA specified.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xStudent[enrollment/leaRefId="{}"]
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xSchools/{}/xStudents</path>
						<description>Returns information for all students based on school enrollment.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xStudent[enrollment/schoolRefId="{}"]
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xRosters/{}/xStudents</path>
						<description>Returns information for all students present in a roster.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							for $roster in /xRoster[@refId="{}"]
							for $student in /xStudent
							where $student/@refId = $roster/students/studentReference/refId
							return $student
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xStudentContacts/{}/xStudents</path>
						<description>Returns information for all students related to a contact.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xStudent[studentContacts/contactPersonRefId="{}"]
							]]>
						</xquery>
					</servicePath>
				</servicePaths>
			</xs:appinfo>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType" minOccurs="0">
						<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherNames" type="sOtherPersonNameListType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>					
					</xs:element>
					<xs:element name="localId" type="sPersonIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sPersonIdType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherPersonIdListType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sPersonAddressType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="email" type="sEmailType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherEmails" type="sEmailListType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="demographics" type="sDemographicsType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="enrollment" type="sEnrollmentType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherEnrollments" type="sEnrollmentListType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="academicSummary" type="sAcademicSummaryType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="studentContacts" type="sStudentContactListType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="languages" type="sLanguageListType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStudent" type="xStudentType"/>
	<xs:complexType name="xStaffType">
		<xs:annotation>
			<xs:appinfo>
				<servicePaths>
					<servicePath>
						<path>xLeas/{}/xStaffs</path>
						<description>Returns information for all staff associated with the LEA specified.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xStaff[primaryAssignment/leaRefId="{}" or otherAssignments/staffPersonAssignment/leaRefId="{}"]
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xSchools/{}/xStaffs</path>
						<description>Returns information for all staff assigned to the specified school.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xStaff[primaryAssignment/schoolRefId="{}" or otherAssignments/staffPersonAssignment/schoolRefId="{}"]
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xRosters/{}/xStaffs</path>
						<description>Returns information for all staff present in a roster.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							for $roster in /xRoster[@refId="{}"]
							for $staff in /xStaff
							where $staff/@refId = $roster/primaryStaff/staffPersonReference/refId or $staff/@refId = $roster/otherStaff/otherStaff/staffPersonReference/refId
							return $staff
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xStudents/{}/xStaffs</path>
						<description>Returns information for all staff connected to a student.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							let $refIdList := 
							    for $roster in /xRoster[students/studentReference/refId="{}"]
							    for $staff in /xStaff
							    where $staff/@refId = $roster/primaryStaff/staffPersonReference/refId or $staff/@refId = $roster/otherStaff/otherStaff/staffPersonReference/refId
							    return $staff/@refId
							for $staff in /xStaff
							for $staffRefId in distinct-values($refIdList)
							return $staff[@refId = $staffRefId]
							]]>
						</xquery>
					</servicePath>
				</servicePaths>				
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sPersonIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sPersonIdType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherPersonIdListType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="sex" type="sSexType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="email" type="sEmailType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="primaryAssignment" type="sStaffPersonAssignmentType" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherAssignments" type="sStaffPersonAssignmentListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStaff" type="xStaffType"/>
	<xs:complexType name="xContactType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherNames" type="sOtherPersonNameListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sPersonIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherPersonIdListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sPersonAddressType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="email" type="sEmailType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherEmails" type="sEmailListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="sex" type="sSexType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="employerType" type="sEmployerType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="relationships" type="sContactStudentRelationshipListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xContact" type="xContactType"/>
	<xs:complexType name="xCourseType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="schoolCourseId" type="sCourseIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="leaCourseId" type="sCourseIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherCourseIdListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="courseTitle" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Course Title</elementName>
									<sifChar></sifChar>
									<cedsId>000067</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>		
					<xs:element name="description" type="xs:normalizedString">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Description</elementName>
									<sifChar></sifChar>
									<cedsId>000517</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000517</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="sSubjectType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="applicableEducationLevels" type="sApplicableEducationLevelListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseCode" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>SCED Course Code</elementName>
									<sifChar></sifChar>
									<cedsId>001517</cedsId>
									<cedsURL>https://ceds.ed.gov/element/001517</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseLevelCode" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>SCED Course Level Code</elementName>
									<sifChar></sifChar>
									<cedsId>001516</cedsId>
									<cedsURL>https://ceds.ed.gov/element/001516</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseSubjectAreaCode" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>SCED Course Subject Area Code</elementName>
									<sifChar></sifChar>
									<cedsId>001518</cedsId>
									<cedsURL>https://ceds.ed.gov/element/001518</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCourse" type="xCourseType"/>
	<xs:complexType name="xSchoolType">
		<xs:annotation>
			<xs:appinfo>
				<servicePaths>					
					<servicePath>
						<path>xLeas/{}/xSchools</path>
						<description>Returns information for all schools in the LEA specified.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xSchool[leaRefId="{}"]
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xStaffs/{}/xSchools</path>
						<description>Returns information for all schools associated with the staff specified.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							for $staff in /xStaff[@refId="{}"]
							for $school in /xSchool
							where $school/@refId = $staff/primaryAssignment/schoolRefId or $school/@refId = $staff/otherAssignments/staffPersonAssignment/schoolRefId
							return $school
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xStudents/{}/xSchools</path>
						<description>Returns information for all schools in which the specified student is enrolled.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							for $student in /xStudent[@refId="{}"]
							for $school in /xSchool
							where $school/@refId = $student/enrollment/schoolRefId or $school/@refId = $student/otherEnrollments/enrollment/schoolRefId
							return $school
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xContacts/{}/xSchools</path>
						<description>Returns information for all schools associated with the contact specified.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							let $refIdList :=
								for $contact in /xContact[@refId="{}"]
								for $student in /xStudent
								where $student/@refId = $contact/relationships/relationship/studentRefId
								return $student/@refId
							for $school in /xSchool
							for $studentRefId in distinct-values($refIdList)
							for $student in /xStudent[@refId = $studentRefId]
							where $school/@refId = $student/enrollment/schoolRefId or $school/@refId = $student/otherEnrollments/enrollment/schoolRefId
							return $school
							]]>
						</xquery>
					</servicePath>
				</servicePaths>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="leaRefId" type="gRefIdPointerType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sOrganizationIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sOrganizationIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherOrganizationIdListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="schoolName" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<elementName>School Name</elementName>
									<sifChar></sifChar>
									<cedsId>000191</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000191</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="yearGroups" type="sYearGroupListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sOrganizationAddressType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xSchool" type="xSchoolType"/>
	<xs:complexType name="xCalendarType">
		<xs:annotation>
			<xs:appinfo>
				<servicePathss>
					<servicePath>
						<path>xSchools/{}/xCalendars</path>
						<description>Returns the calendar of sessions for a school by school year.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xCalendar[schoolRefId="{}"]
							]]>
						</xquery>
					</servicePath>
				</servicePathss>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="schoolYear" type="sSchoolYearType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="sessions" type="sSessionListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCalendar" type="xCalendarType"/>
	<xs:complexType name="xRosterType">
		<xs:annotation>
			<xs:appinfo>
				<servicePaths>
					<servicePath>
						<path>xLeas/{}/xRosters</path>
						<description>Returns the rosters/sections in the specified LEA.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							for $school in /xSchool[leaRefId="{}"]
							for $roster in /xRoster
							where $roster/schoolRefId = $school/@refId
							return $roster
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xStaffs/{}/xRosters</path>
						<description>Returns the rosters/sections assigned to the given staff memeber.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xRoster[primaryStaff/staffPersonReference/refId="{}" or otherStaff/otherStaff/staffPersonReference/refId="{}"]
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xStudents/{}/xRosters</path>
						<description>Returns the rosters/sections for which the specified student is enrolled.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xRoster[students/studentReference/refId="{}"]
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xCourses/{}/xRosters</path>
						<description>Returns the rosters/sections of the specified course.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xRoster[courseRefId="{}"]
							]]>
						</xquery>
					</servicePath>
					<servicePath>
						<path>xSections/{}/xRosters</path>
						<description>Returns the rosters for a particular section.</description>
						<xquery>
							<![CDATA[
							declare default element namespace "http://www.sifassociation.org/datamodel/na/3.3";
							/xRoster[sectionRefId="{}"]
							]]>
						</xquery>
					</servicePath>					
				</servicePaths>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="courseRefId" type="gRefIdPointerType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="courseTitle" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Course Title</elementName>
									<sifChar></sifChar>
									<cedsId>000067</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="sectionRefId" type="gRefIdPointerType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="sSubjectType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="schoolRefId" type="gRefIdPointerType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="schoolSectionId" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>School Section Id</elementName>
									<sifChar></sifChar>
									<cedsId>000978</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000978</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="schoolYear" type="sSchoolYearType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="sessionCode" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Session Code</elementName>
									<sifChar></sifChar>
									<cedsId>000252</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000252</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="schoolCalendarRefId" type="gRefIdPointerType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="timeTableDay" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Time Table Day</elementName>
									<sifChar></sifChar>
									<cedsId>000523</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000523</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="classMeetingDays" type="sDayListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Class Meeting Days</elementName>
									<sifChar></sifChar>
									<cedsId>000521</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000521</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="timeTablePeriod" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Time Table Period</elementName>
									<sifChar></sifChar>
									<cedsId>000522</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000522</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="roomNumber" type="xs:token">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Room Number</elementName>
									<sifChar></sifChar>
									<cedsId>000364</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000364</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="classBeginningTime" type="xs:time">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Class Beginning Time</elementName>
									<sifChar></sifChar>
									<cedsId>000519</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000519</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="classEndingTime" type="xs:time">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Class Ending Time</elementName>
									<sifChar></sifChar>
									<cedsId>000520</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000520</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="students" type="sStudentReferenceListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="primaryStaff" type="sStaffReferenceType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherStaff" type="sStaffReferenceListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xRoster" type="xRosterType"/>
	<xs:complexType name="xLeaType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="localId" type="sOrganizationIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="leaRefId" type="gRefIdPointerType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sOrganizationIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="ncesId" type="sOrganizationIdType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="leaName" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<elementName>LEA Name</elementName>
									<sifChar></sifChar>
									<cedsId>000204</cedsId>
									<cedsURL>https://ceds.ed.gov/element/000204</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sOrganizationAddressType">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Organization Address Type</elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType">
							<xs:annotation>
								<xs:appinfo>
									<elementName></elementName>
									<sifChar></sifChar>
									<cedsId></cedsId>
									<cedsURL>https://ceds.ed.gov/element/</cedsURL>
								</xs:appinfo>
								<xs:documentation></xs:documentation>
							</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xLea" type="xLeaType"/>
</xs:schema>
