Composite/SIFNAxPress.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by Matt Harris (CDS) -->
<!-- SIF xPress Object Definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="undefined" elementFormDefault="qualified">
	<xs:include schemaLocation="../SIFglobal.xsd"/>
	<xs:include schemaLocation="../Entity/SIFNAxPressCommonTypes.xsd"/>
	<!--<xs:include schemaLocation="../Entity/SIFNAxPressCommonTypes-NoValueSets.xsd"/> -->
	<xs:complexType name="xStudentType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="xPersonNameType"/>
					<xs:element name="otherNames" type="xOtherPersonNameListType"/>
					<xs:element name="localId" type="xPersonIdType"/>
					<xs:element name="stateProvinceId" type="xPersonIdType"/>
					<xs:element name="loginId" type="xLoginIdType"/>
					<xs:element name="otherIds" type="xOtherPersonIdListType"/>
					<xs:element name="address" type="xPersonAddressType"/>
					<xs:element name="phoneNumber" type="xTelephoneType"/>
					<xs:element name="otherPhoneNumbers" type="xTelephoneListType"/>
					<xs:element name="email" type="xEmailType"/>
					<xs:element name="otherEmails" type="xEmailListType"/>
					<xs:element name="demographics" type="xDemographicsType"/>
					<xs:element name="enrollment" type="xEnrollmentType"/>
					<xs:element name="otherEnrollments" type="xEnrollmentListType"/>
					<xs:element name="academicSummary" type="xAcademicSummaryType"/>
					<xs:element name="studentContacts" type="xStudentContactListType"/>
					<xs:element name="languages" type="xLanguageListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStudent" type="xStudentType"/>
	<xs:complexType name="xStaffType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="xPersonNameType"/>
					<xs:element name="localId" type="xPersonIdType"/>
					<xs:element name="stateProvinceId" type="xPersonIdType" minOccurs="0"/>
					<xs:element name="loginId" type="xLoginIdType"/>
					<xs:element name="otherIds" type="xOtherPersonIdListType"/>
					<xs:element name="sexus" type="xSexType"/>
					<xs:element name="email" type="xEmailType"/>
					<xs:element name="primaryAssignment" type="xStaffPersonAssignmentType"/>
					<xs:element name="otherAssignments" type="xStaffPersonAssignmentListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStaff" type="xStaffType"/>
	<xs:element name="xContact" type="xContactType"/>
	<xs:complexType name="xCourseType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType"/>
					<xs:element name="schoolCourseId" type="xCourseIdType"/>
					<xs:element name="leaCourseId" type="xCourseIdType"/>
					<xs:element name="otherIds" type="xOtherCourseIdListType"/>
					<xs:element name="courseTitle" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000067</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:normalizedString">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000517</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000517</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="xSubjectType"/>
					<xs:element name="applicableEducationLevels" type="xApplicableEducationLevelListType"/>
					<xs:element name="scedCourseCode" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>001517</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001517</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseLevelCode" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>001516</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001516</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseSubjectAreaCode" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>001518</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001518</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCourse" type="xCourseType"/>
	<xs:complexType name="xSchoolType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="leaRefId" type="gRefIdPointerType"/>
					<xs:element name="localId" type="xOrganizationIdType"/>
					<xs:element name="stateProvinceId" type="xOrganizationIdType"/>
					<xs:element name="otherIds" type="xOtherOrganizationIdListType"/>
					<xs:element name="schoolName" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000191</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000191</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="yearGroups" type="xYearGroupListType"/>
					<xs:element name="address" type="xOrganizationAddressType"/>
					<xs:element name="phoneNumber" type="xTelephoneType"/>
					<xs:element name="otherPhoneNumbers" type="xTelephoneListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xSchool" type="xSchoolType"/>
	<xs:complexType name="xCalendarType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType"/>
					<xs:element name="schoolYear" type="xSchoolYearType"/>
					<xs:element name="sessions" type="xSessionListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCalendar" type="xCalendarType"/>
	<xs:complexType name="xRosterType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="courseRefId" type="gRefIdPointerType"/>
					<xs:element name="courseTitle" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000067</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sectionRefId" type="gRefIdPointerType"/>
					<xs:element name="subject" type="xSubjectType"/>
					<xs:element name="schoolRefId" type="gRefIdPointerType"/>
					<xs:element name="schoolSectionId" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000978</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000978</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolYear" type="xSchoolYearType"/>
					<xs:element name="sessionCode" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000252</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000252</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolCalendarRefId" type="gRefIdPointerType"/>
					<xs:element name="timeTableDay" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000523</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000523</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="classMeetingDays" type="xDayListType">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000521</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000521</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="timeTablePeriod" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000522</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000522</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="roomNumber" type="xs:token">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000364</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000364</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="classBeginningTime" type="xs:time">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000519</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000519</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="classEndingTime" type="xs:time">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000520</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000520</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="students" type="xStudentReferenceListType"/>
					<xs:element name="primaryStaff" type="xStaffReferenceType"/>
					<xs:element name="otherStaff" type="xStaffReferenceListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xRoster" type="xRosterType"/>
	<xs:complexType name="xLeaType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="localId" type="xOrganizationIdType"/>
					<xs:element name="leaRefId" type="gRefIdPointerType"/>
					<xs:element name="stateProvinceId" type="xOrganizationIdType"/>
					<xs:element name="ncesId" type="xOrganizationIdType"/>
					<xs:element name="leaName" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<cedsId>000204</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000204</cedsURL>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="xOrganizationAddressType"/>
					<xs:element name="phoneNumber" type="xTelephoneType"/>
					<xs:element name="otherPhoneNumbers" type="xTelephoneListType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xLea" type="xLeaType"/>
</xs:schema>
