Composite/SIFNAxPress.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- SIF xPress Object Definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="undefined" elementFormDefault="qualified">
	<xs:include schemaLocation="../SIFglobal.xsd"/>
	<xs:include schemaLocation="SIFNAxPressCommonTypes.xsd"/>
	<xs:complexType name="xStudentType">
		<xs:annotation>
			<xs:appinfo>
				<elementName>xStudent Type</elementName>
				<events>yes</events>
				<isSIFObject>yes</isSIFObject>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Name</elementName>
								<sifChar>R</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Name of Student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherNames" type="sOtherPersonNameListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Names of Student</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sPersonIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Local Id</elementName>
								<sifChar>001071</sifChar>
								<cedsId>R</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001071</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned to a staff member by a district or LEA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="loginId" type="sLoginIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Login Id</elementName>
								<sifChar>001170</sifChar>
								<cedsId>R</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001170</cedsURL>
							</xs:appinfo>
							<xs:documentation>The login identifier for the person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sPersonIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>State-Province Id</elementName>
								<sifChar>O</sifChar>
								<cedsId>001071</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001071</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned to a student by a state.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherPersonIdListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Ids</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Other Ids for the student</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sPersonAddressType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Address</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Address of the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Phone Number</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Phone number of the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Phone Numbers</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Other phone numbers for the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="sEmailType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Email</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Email of the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherEmails" type="sEmailListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Emails</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Other emails for the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="demographics" type="sDemographicsType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Demographics</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Demographic information about the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="enrollment" type="sEnrollmentType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Enrollment</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Current enrollment information for the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherEnrollments" type="sEnrollmentListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Enrollments</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Other enrollment information for the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="academicSummary" type="sAcademicSummaryType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Academic Summary</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Summary academic information for the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="studentContacts" type="sStudentContactListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Student Contacts</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Persons that may be contacted regarding the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="languages" type="sLanguageListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Languages</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Languages of the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStudent" type="xStudentType"/>
	<xs:complexType name="xStaffType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="name" type="sPersonNameType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Person Name</elementName>
								<sifChar>R</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Name of the staff person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sPersonIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName/>
								<sifChar/>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned to a staff member by a district or LEA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="loginId" type="sLoginIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Login Id</elementName>
								<sifChar>001170</sifChar>
								<cedsId>R</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001170</cedsURL>
							</xs:appinfo>
							<xs:documentation>The login identifier for the person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sPersonIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>State-Province Id</elementName>
								<sifChar>O</sifChar>
								<cedsId>001070</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001070</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned to a staff member by a state.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherPersonIdListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Id List</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Other Ids for the person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sex" type="sSexType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Sex</elementName>
								<sifChar>O</sifChar>
								<cedsId>000255</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000255</cedsURL>
							</xs:appinfo>
							<xs:documentation>The concept describing the biological traits that distinguish the males and females of a species.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="sEmailType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Email</elementName>
								<sifChar>O</sifChar>
								<cedsId>000088</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000088</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryAssignment" type="sStaffPersonAssignmentType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Primary Assignment</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>The primary district, school, and function to which the person is assigned.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherAssignments" type="sStaffPersonAssignmentListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Assignments</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Other locations and functions to which the person is assigned.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xStaff" type="xStaffType"/>
	<xs:element name="xContact" type="xContactType"/>
	<xs:complexType name="xCourseType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School Refid</elementName>
								<sifChar>R</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Refid of the school in which the course is delivered.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolCourseId" type="sCourseIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School-Course Id</elementName>
								<sifChar>R</sifChar>
								<cedsId>000055</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000055</cedsURL>
							</xs:appinfo>
							<xs:documentation>The actual code that identifies the organization of subject matter and related learning experiences provided for the instruction of students.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="leaCourseId" type="sCourseIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>LEA Course Id</elementName>
								<sifChar>O</sifChar>
								<cedsId>000055</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000055</cedsURL>
							</xs:appinfo>
							<xs:documentation>The actual code that identifies the organization of subject matter and related learning experiences provided for the instruction of students.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherCourseIdListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Course Ids</elementName>
								<sifChar>O</sifChar>
								<cedsId>000055</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000055</cedsURL>
							</xs:appinfo>
							<xs:documentation>A system that is used to identify the organization of subject matter and related learning experiences provided for the instruction of students.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="courseTitle" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Course Title</elementName>
								<sifChar/>
								<cedsId>000067</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
							</xs:appinfo>
							<xs:documentation>The descriptive name given to a course of study offered in a school or other institution or organization. In departmentalized classes at the elementary, secondary, and postsecondary levels (and for staff development activities), this refers to the name by which a course is identified (e.g., American History, English III). For elementary and other non-departmentalized classes, it refers to any portion of the instruction for which a grade or report is assigned (e.g., reading, composition, spelling, and language arts).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:normalizedString" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Description</elementName>
								<sifChar>O</sifChar>
								<cedsId>000517</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000517</cedsURL>
							</xs:appinfo>
							<xs:documentation>A description of the course content and/or goals. Reference may be made to state or national content standards.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="sSubjectType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Course Subject</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="applicableEducationLevels" type="sApplicableEducationLevelListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Applicable Education Levels</elementName>
								<sifChar>O</sifChar>
								<cedsId>001301</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001301</cedsURL>
							</xs:appinfo>
							<xs:documentation>The education level, grade level or primary instructional level at which a course is intended.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseCode" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>SCED Course Code</elementName>
								<sifChar>O</sifChar>
								<cedsId>001517</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001517</cedsURL>
							</xs:appinfo>
							<xs:documentation>SCED code for the course.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseLevelCode" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>SCED Course Level Code</elementName>
								<sifChar>O</sifChar>
								<cedsId>001516</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001516</cedsURL>
							</xs:appinfo>
							<xs:documentation>SCED Course Level Code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scedCourseSubjectAreaCode" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>SCED Course Subject Area Code</elementName>
								<sifChar/>
								<cedsId>001518</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001518</cedsURL>
							</xs:appinfo>
							<xs:documentation>SCED Course Subject Area Code.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCourse" type="xCourseType"/>
	<xs:complexType name="xSchoolType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="leaRefId" type="gRefIdPointerType">
						<xs:annotation>
							<xs:appinfo>
								<elementName>LEA Refid</elementName>
								<sifChar>R</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Refid of the LEA of which the school is a part.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="localId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Local Id</elementName>
								<sifChar>O</sifChar>
								<cedsId>001071</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001071</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned to a school by a district or LEA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>State Id</elementName>
								<sifChar>O</sifChar>
								<cedsId>001071</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001071</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned to a school by a state.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherIds" type="sOtherOrganizationIdListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Ids</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>A list of other Ids for the school.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School Name</elementName>
								<sifChar/>
								<cedsId>000191</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000191</cedsURL>
							</xs:appinfo>
							<xs:documentation>The full legally accepted name of the institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yearGroups" type="sYearGroupListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Year Groups</elementName>
								<sifChar>O</sifChar>
								<cedsId>000131</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000131</cedsURL>
							</xs:appinfo>
							<xs:documentation>The specific grade or combination of grades offered by an education institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sOrganizationAddressType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Address</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Address of the school.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Phone Number</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Phone number of the school.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Phone Numbers</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>A list of other phone numbers for the school.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xSchool" type="xSchoolType"/>
	<xs:complexType name="xCalendarType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="schoolRefId" type="gRefIdPointerType">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School RefId</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>The refid to which this calendar applies.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolYear" type="sSchoolYearType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School Year</elementName>
								<sifChar>R</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>The school year for the calendar.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sessions" type="sSessionListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Sessions</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>A list of sessions for the calendar.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xCalendar" type="xCalendarType"/>
	<xs:complexType name="xRosterType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="courseRefId" type="gRefIdPointerType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Course RefId</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>RefId of the course for this section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="courseTitle" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Course Title</elementName>
								<sifChar>R</sifChar>
								<cedsId>000067</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000067</cedsURL>
							</xs:appinfo>
							<xs:documentation>The descriptive name given to a course of study offered in a school or other institution or organization. In departmentalized classes at the elementary, secondary, and postsecondary levels (and for staff development activities), this refers to the name by which a course is identified (e.g., American History, English III). For elementary and other non-departmentalized classes, it refers to any portion of the instruction for which a grade or report is assigned (e.g., reading, composition, spelling, and language arts).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sectionRefId" type="gRefIdPointerType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Section RefId</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>RefId of the section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="sSubjectType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Subject</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolRefId" type="gRefIdPointerType">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School RefId</elementName>
								<sifChar>R</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>RefId of the school.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolSectionId" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School Section Id</elementName>
								<sifChar>R</sifChar>
								<cedsId>000978</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000978</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned by an institution, school, school system, state, or other agency or entity for a particular course-section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolYear" type="sSchoolYearType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School Year</elementName>
								<sifChar>O</sifChar>
								<cedsId>000243</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000243</cedsURL>
							</xs:appinfo>
							<xs:documentation>The year for a reported school session.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sessionCode" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Session Code</elementName>
								<sifChar>O</sifChar>
								<cedsId>000252</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000252</cedsURL>
							</xs:appinfo>
							<xs:documentation>A local code given to the session, usually for a session that represents a term within the school year such as a marking term.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolCalendarRefId" type="gRefIdPointerType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>School Calendar RefId</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>The RefId of the school calendar.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="meetingTimes" type="sMeetingTimeListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Meeting Times</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>A list of meeting times for the section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="students" type="sStudentReferenceListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Students</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>A list of students associated with the roster.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryStaff" type="sStaffReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Primary Staff</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>The primary staff person for the section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherStaffs" type="sStaffReferenceListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Staffs</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>Other staff persons associated with the section.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xRoster" type="xRosterType"/>
	<xs:complexType name="xLeaType">
		<xs:complexContent>
			<xs:extension base="gSIF_CompositeType">
				<xs:sequence>
					<xs:element name="localId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Local id</elementName>
								<sifChar>O</sifChar>
								<cedsId>001068</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001068</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned to a local education agency by a school system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="leaRefId" type="gRefIdPointerType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>LEA RefId</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>The refId for the LEA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="stateProvinceId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>State-Province Id</elementName>
								<sifChar>O</sifChar>
								<cedsId>001068</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001068</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned to a local education agency by a state.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ncesId" type="sOrganizationIdType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>NCES Id</elementName>
								<sifChar>O</sifChar>
								<cedsId>001068</cedsId>
								<cedsURL>https://ceds.ed.gov/element/001068</cedsURL>
							</xs:appinfo>
							<xs:documentation>A unique number or alphanumeric code assigned to a local education agency by NCES.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="leaName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>LEA Name</elementName>
								<sifChar>R</sifChar>
								<cedsId>000204</cedsId>
								<cedsURL>https://ceds.ed.gov/element/000204</cedsURL>
							</xs:appinfo>
							<xs:documentation>The name of a non-person entity such as an organization, institution, agency or business; in this case, a Local Education Agency.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="sOrganizationAddressType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Organization Address</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>The address of the LEA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="sTelephoneType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Phone Number</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>The phone number of the LEA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherPhoneNumbers" type="sTelephoneListType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<elementName>Other Phone Numbers</elementName>
								<sifChar>O</sifChar>
								<cedsId/>
								<cedsURL>https://ceds.ed.gov/element/</cedsURL>
							</xs:appinfo>
							<xs:documentation>A list of other phone numbers for the LEA.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xLea" type="xLeaType"/>
</xs:schema>